In [6]:
# This program loops through each sheet and finds all invalid entries.

from openpyxl import load_workbook

wb = load_workbook('KPMG_Raw_Data.xlsx')

<Worksheet "Transactions">

In [23]:
# First we look at each worksheet in turn and find all empty cell values.
# We want to print out the names of the people with empty cell values 
# and also which cell is empty. 
# First sheet we look at is Transactions

wb.active = 1
cur_sheet = wb.active
total = 0
print('Current sheet:')
print(cur_sheet, end="\n\n")

for i in range(3,20003):
    # i = current row. Cell values are in rows 3 to 20002
    at_row = False         # to stop counting the same row multiple times  
    
    for j in range(1,14):
        # j = current column. There are 14 columns but last column is empty
        # for all values so we ignore it.
        
        if cur_sheet.cell(row=i, column=j).value is None:
            # Empty cell value so print out transaction ID and empty cell.
            print('Transaction ID: ', end=" ")
            print(cur_sheet.cell(row=i, column=1).value)
            print('Empty cell: ', end=" ")
            print(cur_sheet.cell(row=2, column=j).value, end="\n\n")
            
            if not at_row:
                total += 1
                at_row = True

print('Total invalid entries: ' + str(total))

Current sheet:
<Worksheet "Transactions">

Transaction ID:  98
Empty cell:  online_order

Transaction ID:  137
Empty cell:  brand

Transaction ID:  137
Empty cell:  product_line

Transaction ID:  137
Empty cell:  product_class

Transaction ID:  137
Empty cell:  product_size

Transaction ID:  137
Empty cell:  standard_cost

Transaction ID:  137
Empty cell:  product_first_sold_date

Transaction ID:  160
Empty cell:  brand

Transaction ID:  160
Empty cell:  product_line

Transaction ID:  160
Empty cell:  product_class

Transaction ID:  160
Empty cell:  product_size

Transaction ID:  160
Empty cell:  standard_cost

Transaction ID:  160
Empty cell:  product_first_sold_date

Transaction ID:  167
Empty cell:  online_order

Transaction ID:  170
Empty cell:  online_order

Transaction ID:  251
Empty cell:  online_order

Transaction ID:  301
Empty cell:  online_order

Transaction ID:  337
Empty cell:  online_order

Transaction ID:  343
Empty cell:  online_order

Transaction ID:  367
Empty cell:  brand

Transaction ID:  367
Empty cell:  product_line

Transaction ID:  367
Empty cell:  product_class

Transaction ID:  367
Empty cell:  product_size

Transaction ID:  367
Empty cell:  standard_cost

Transaction ID:  367
Empty cell:  product_first_sold_date

Transaction ID:  399
Empty cell:  online_order

Transaction ID:  407
Empty cell:  brand

Transaction ID:  407
Empty cell:  product_line

Transaction ID:  407
Empty cell:  product_class

Transaction ID:  407
Empty cell:  product_size

Transaction ID:  407
Empty cell:  standard_cost

Transaction ID:  407
Empty cell:  product_first_sold_date

Transaction ID:  477
Empty cell:  online_order

Transaction ID:  530
Empty cell:  online_order

Transaction ID:  559
Empty cell:  online_order

Transaction ID:  577
Empty cell:  online_order

Transaction ID:  677
Empty cell:  brand

Transaction ID:  677
Empty cell:  product_line

Transaction ID:  677
Empty cell:  product_class

Transaction ID:  677
Empty cell:  product_size

Transaction ID:  677
Empty cell:  standard_cost

Transaction ID:  677
Empty cell:  product_first_sold_date

Transaction ID:  761
Empty cell:  online_order

Transaction ID:  770
Empty cell:  online_order

Transaction ID:  781
Empty cell:  brand

Transaction ID:  781
Empty cell:  product_line

Transaction ID:  781
Empty cell:  product_class

Transaction ID:  781
Empty cell:  product_size

Transaction ID:  781
Empty cell:  standard_cost

Transaction ID:  781
Empty cell:  product_first_sold_date

Transaction ID:  844
Empty cell:  online_order

Transaction ID:  915
Empty cell:  online_order

Transaction ID:  918
Empty cell:  online_order

Transaction ID:  1004
Empty cell:  brand

Transaction ID:  1004
Empty cell:  product_line

Transaction ID:  1004
Empty cell:  product_class

Transaction ID:  1004
Empty cell:  product_size

Transaction ID:  1004
Empty cell:  standard_cost

Transaction ID:  1004
Empty cell:  product_first_sold_date

Transaction ID:  1061
Empty cell:  online_order

Transaction ID:  1072
Empty cell:  online_order

Transaction ID:  1131
Empty cell:  brand

Transaction ID:  1131
Empty cell:  product_line

Transaction ID:  1131
Empty cell:  product_class

Transaction ID:  1131
Empty cell:  product_size

Transaction ID:  1131
Empty cell:  standard_cost

Transaction ID:  1131
Empty cell:  product_first_sold_date

Transaction ID:  1160
Empty cell:  online_order

Transaction ID:  1193
Empty cell:  online_order

Transaction ID:  1197
Empty cell:  brand

Transaction ID:  1197
Empty cell:  product_line

Transaction ID:  1197
Empty cell:  product_class

Transaction ID:  1197
Empty cell:  product_size

Transaction ID:  1197
Empty cell:  standard_cost

Transaction ID:  1197
Empty cell:  product_first_sold_date

Transaction ID:  1201
Empty cell:  online_order

Transaction ID:  1283
Empty cell:  brand

Transaction ID:  1283
Empty cell:  product_line

Transaction ID:  1283
Empty cell:  product_class

Transaction ID:  1283
Empty cell:  product_size

Transaction ID:  1283
Empty cell:  standard_cost

Transaction ID:  1283
Empty cell:  product_first_sold_date

Transaction ID:  1355
Empty cell:  online_order

Transaction ID:  1362
Empty cell:  online_order

Transaction ID:  1372
Empty cell:  online_order

Transaction ID:  1382
Empty cell:  online_order

Transaction ID:  1524
Empty cell:  online_order

Transaction ID:  1553
Empty cell:  online_order

Transaction ID:  1556
Empty cell:  online_order

Transaction ID:  1622
Empty cell:  online_order

Transaction ID:  1654
Empty cell:  brand

Transaction ID:  1654
Empty cell:  product_line

Transaction ID:  1654
Empty cell:  product_class

Transaction ID:  1654
Empty cell:  product_size

Transaction ID:  1654
Empty cell:  standard_cost

Transaction ID:  1654
Empty cell:  product_first_sold_date

Transaction ID:  1681
Empty cell:  brand

Transaction ID:  1681
Empty cell:  product_line

Transaction ID:  1681
Empty cell:  product_class

Transaction ID:  1681
Empty cell:  product_size

Transaction ID:  1681
Empty cell:  standard_cost

Transaction ID:  1681
Empty cell:  product_first_sold_date

Transaction ID:  1753
Empty cell:  brand

Transaction ID:  1753
Empty cell:  product_line

Transaction ID:  1753
Empty cell:  product_class

Transaction ID:  1753
Empty cell:  product_size

Transaction ID:  1753
Empty cell:  standard_cost

Transaction ID:  1753
Empty cell:  product_first_sold_date

Transaction ID:  1779
Empty cell:  brand

Transaction ID:  1779
Empty cell:  product_line

Transaction ID:  1779
Empty cell:  product_class

Transaction ID:  1779
Empty cell:  product_size

Transaction ID:  1779
Empty cell:  standard_cost

Transaction ID:  1779
Empty cell:  product_first_sold_date

Transaction ID:  1818
Empty cell:  online_order

Transaction ID:  1888
Empty cell:  online_order

Transaction ID:  1922
Empty cell:  online_order

Transaction ID:  1938
Empty cell:  online_order

Transaction ID:  1981
Empty cell:  online_order

Transaction ID:  1988
Empty cell:  online_order

Transaction ID:  2096
Empty cell:  online_order

Transaction ID:  2187
Empty cell:  brand

Transaction ID:  2187
Empty cell:  product_line

Transaction ID:  2187
Empty cell:  product_class

Transaction ID:  2187
Empty cell:  product_size

Transaction ID:  2187
Empty cell:  standard_cost

Transaction ID:  2187
Empty cell:  product_first_sold_date

Transaction ID:  2214
Empty cell:  online_order

Transaction ID:  2284
Empty cell:  online_order

Transaction ID:  2303
Empty cell:  brand

Transaction ID:  2303
Empty cell:  product_line

Transaction ID:  2303
Empty cell:  product_class

Transaction ID:  2303
Empty cell:  product_size

Transaction ID:  2303
Empty cell:  standard_cost

Transaction ID:  2303
Empty cell:  product_first_sold_date

Transaction ID:  2390
Empty cell:  online_order

Transaction ID:  2615
Empty cell:  online_order

Transaction ID:  2618
Empty cell:  online_order

Transaction ID:  2633
Empty cell:  online_order

Transaction ID:  2647
Empty cell:  online_order

Transaction ID:  2648
Empty cell:  online_order

Transaction ID:  2773
Empty cell:  online_order

Transaction ID:  2842
Empty cell:  online_order

Transaction ID:  2948
Empty cell:  brand

Transaction ID:  2948
Empty cell:  product_line

Transaction ID:  2948
Empty cell:  product_class

Transaction ID:  2948
Empty cell:  product_size

Transaction ID:  2948
Empty cell:  standard_cost

Transaction ID:  2948
Empty cell:  product_first_sold_date

Transaction ID:  2991
Empty cell:  brand

Transaction ID:  2991
Empty cell:  product_line

Transaction ID:  2991
Empty cell:  product_class

Transaction ID:  2991
Empty cell:  product_size

Transaction ID:  2991
Empty cell:  standard_cost

Transaction ID:  2991
Empty cell:  product_first_sold_date

Transaction ID:  3026
Empty cell:  online_order

Transaction ID:  3033
Empty cell:  online_order

Transaction ID:  3135
Empty cell:  online_order

Transaction ID:  3195
Empty cell:  brand

Transaction ID:  3195
Empty cell:  product_line

Transaction ID:  3195
Empty cell:  product_class

Transaction ID:  3195
Empty cell:  product_size

Transaction ID:  3195
Empty cell:  standard_cost

Transaction ID:  3195
Empty cell:  product_first_sold_date

Transaction ID:  3201
Empty cell:  online_order

Transaction ID:  3260
Empty cell:  brand

Transaction ID:  3260
Empty cell:  product_line

Transaction ID:  3260
Empty cell:  product_class

Transaction ID:  3260
Empty cell:  product_size

Transaction ID:  3260
Empty cell:  standard_cost

Transaction ID:  3260
Empty cell:  product_first_sold_date

Transaction ID:  3409
Empty cell:  brand

Transaction ID:  3409
Empty cell:  product_line

Transaction ID:  3409
Empty cell:  product_class

Transaction ID:  3409
Empty cell:  product_size

Transaction ID:  3409
Empty cell:  standard_cost

Transaction ID:  3409
Empty cell:  product_first_sold_date

Transaction ID:  3454
Empty cell:  online_order

Transaction ID:  3533
Empty cell:  online_order

Transaction ID:  3554
Empty cell:  online_order

Transaction ID:  3782
Empty cell:  brand

Transaction ID:  3782
Empty cell:  product_line

Transaction ID:  3782
Empty cell:  product_class

Transaction ID:  3782
Empty cell:  product_size

Transaction ID:  3782
Empty cell:  standard_cost

Transaction ID:  3782
Empty cell:  product_first_sold_date

Transaction ID:  3813
Empty cell:  online_order

Transaction ID:  3878
Empty cell:  brand

Transaction ID:  3878
Empty cell:  product_line

Transaction ID:  3878
Empty cell:  product_class

Transaction ID:  3878
Empty cell:  product_size

Transaction ID:  3878
Empty cell:  standard_cost

Transaction ID:  3878
Empty cell:  product_first_sold_date

Transaction ID:  3905
Empty cell:  online_order

Transaction ID:  3930
Empty cell:  online_order

Transaction ID:  3955
Empty cell:  online_order

Transaction ID:  3958
Empty cell:  online_order

Transaction ID:  4025
Empty cell:  brand

Transaction ID:  4025
Empty cell:  product_line

Transaction ID:  4025
Empty cell:  product_class

Transaction ID:  4025
Empty cell:  product_size

Transaction ID:  4025
Empty cell:  standard_cost

Transaction ID:  4025
Empty cell:  product_first_sold_date

Transaction ID:  4044
Empty cell:  online_order

Transaction ID:  4047
Empty cell:  online_order

Transaction ID:  4051
Empty cell:  online_order

Transaction ID:  4071
Empty cell:  online_order

Transaction ID:  4074
Empty cell:  brand

Transaction ID:  4074
Empty cell:  product_line

Transaction ID:  4074
Empty cell:  product_class

Transaction ID:  4074
Empty cell:  product_size

Transaction ID:  4074
Empty cell:  standard_cost

Transaction ID:  4074
Empty cell:  product_first_sold_date

Transaction ID:  4128
Empty cell:  brand

Transaction ID:  4128
Empty cell:  product_line

Transaction ID:  4128
Empty cell:  product_class

Transaction ID:  4128
Empty cell:  product_size

Transaction ID:  4128
Empty cell:  standard_cost

Transaction ID:  4128
Empty cell:  product_first_sold_date

Transaction ID:  4162
Empty cell:  online_order

Transaction ID:  4223
Empty cell:  brand

Transaction ID:  4223
Empty cell:  product_line

Transaction ID:  4223
Empty cell:  product_class

Transaction ID:  4223
Empty cell:  product_size

Transaction ID:  4223
Empty cell:  standard_cost

Transaction ID:  4223
Empty cell:  product_first_sold_date

Transaction ID:  4225
Empty cell:  brand

Transaction ID:  4225
Empty cell:  product_line

Transaction ID:  4225
Empty cell:  product_class

Transaction ID:  4225
Empty cell:  product_size

Transaction ID:  4225
Empty cell:  standard_cost

Transaction ID:  4225
Empty cell:  product_first_sold_date

Transaction ID:  4228
Empty cell:  brand

Transaction ID:  4228
Empty cell:  product_line

Transaction ID:  4228
Empty cell:  product_class

Transaction ID:  4228
Empty cell:  product_size

Transaction ID:  4228
Empty cell:  standard_cost

Transaction ID:  4228
Empty cell:  product_first_sold_date

Transaction ID:  4268
Empty cell:  online_order

Transaction ID:  4339
Empty cell:  brand

Transaction ID:  4339
Empty cell:  product_line

Transaction ID:  4339
Empty cell:  product_class

Transaction ID:  4339
Empty cell:  product_size

Transaction ID:  4339
Empty cell:  standard_cost

Transaction ID:  4339
Empty cell:  product_first_sold_date

Transaction ID:  4344
Empty cell:  online_order

Transaction ID:  4348
Empty cell:  online_order

Transaction ID:  4385
Empty cell:  online_order

Transaction ID:  4405
Empty cell:  brand

Transaction ID:  4405
Empty cell:  product_line

Transaction ID:  4405
Empty cell:  product_class

Transaction ID:  4405
Empty cell:  product_size

Transaction ID:  4405
Empty cell:  standard_cost

Transaction ID:  4405
Empty cell:  product_first_sold_date

Transaction ID:  4478
Empty cell:  online_order

Transaction ID:  4605
Empty cell:  brand

Transaction ID:  4605
Empty cell:  product_line

Transaction ID:  4605
Empty cell:  product_class

Transaction ID:  4605
Empty cell:  product_size

Transaction ID:  4605
Empty cell:  standard_cost

Transaction ID:  4605
Empty cell:  product_first_sold_date

Transaction ID:  4653
Empty cell:  brand

Transaction ID:  4653
Empty cell:  product_line

Transaction ID:  4653
Empty cell:  product_class

Transaction ID:  4653
Empty cell:  product_size

Transaction ID:  4653
Empty cell:  standard_cost

Transaction ID:  4653
Empty cell:  product_first_sold_date

Transaction ID:  4654
Empty cell:  online_order

Transaction ID:  4681
Empty cell:  online_order

Transaction ID:  4714
Empty cell:  brand

Transaction ID:  4714
Empty cell:  product_line

Transaction ID:  4714
Empty cell:  product_class

Transaction ID:  4714
Empty cell:  product_size

Transaction ID:  4714
Empty cell:  standard_cost

Transaction ID:  4714
Empty cell:  product_first_sold_date

Transaction ID:  4754
Empty cell:  online_order

Transaction ID:  4803
Empty cell:  online_order

Transaction ID:  4822
Empty cell:  online_order

Transaction ID:  4832
Empty cell:  online_order

Transaction ID:  4833
Empty cell:  brand

Transaction ID:  4833
Empty cell:  product_line

Transaction ID:  4833
Empty cell:  product_class

Transaction ID:  4833
Empty cell:  product_size

Transaction ID:  4833
Empty cell:  standard_cost

Transaction ID:  4833
Empty cell:  product_first_sold_date

Transaction ID:  4867
Empty cell:  online_order

Transaction ID:  4889
Empty cell:  online_order

Transaction ID:  4896
Empty cell:  brand

Transaction ID:  4896
Empty cell:  product_line

Transaction ID:  4896
Empty cell:  product_class

Transaction ID:  4896
Empty cell:  product_size

Transaction ID:  4896
Empty cell:  standard_cost

Transaction ID:  4896
Empty cell:  product_first_sold_date

Transaction ID:  4967
Empty cell:  brand

Transaction ID:  4967
Empty cell:  product_line

Transaction ID:  4967
Empty cell:  product_class

Transaction ID:  4967
Empty cell:  product_size

Transaction ID:  4967
Empty cell:  standard_cost

Transaction ID:  4967
Empty cell:  product_first_sold_date

Transaction ID:  5022
Empty cell:  online_order

Transaction ID:  5029
Empty cell:  online_order

Transaction ID:  5062
Empty cell:  online_order

Transaction ID:  5065
Empty cell:  brand

Transaction ID:  5065
Empty cell:  product_line

Transaction ID:  5065
Empty cell:  product_class

Transaction ID:  5065
Empty cell:  product_size

Transaction ID:  5065
Empty cell:  standard_cost

Transaction ID:  5065
Empty cell:  product_first_sold_date

Transaction ID:  5159
Empty cell:  brand

Transaction ID:  5159
Empty cell:  product_line

Transaction ID:  5159
Empty cell:  product_class

Transaction ID:  5159
Empty cell:  product_size

Transaction ID:  5159
Empty cell:  standard_cost

Transaction ID:  5159
Empty cell:  product_first_sold_date

Transaction ID:  5207
Empty cell:  brand

Transaction ID:  5207
Empty cell:  product_line

Transaction ID:  5207
Empty cell:  product_class

Transaction ID:  5207
Empty cell:  product_size

Transaction ID:  5207
Empty cell:  standard_cost

Transaction ID:  5207
Empty cell:  product_first_sold_date

Transaction ID:  5261
Empty cell:  brand

Transaction ID:  5261
Empty cell:  product_line

Transaction ID:  5261
Empty cell:  product_class

Transaction ID:  5261
Empty cell:  product_size

Transaction ID:  5261
Empty cell:  standard_cost

Transaction ID:  5261
Empty cell:  product_first_sold_date

Transaction ID:  5267
Empty cell:  brand

Transaction ID:  5267
Empty cell:  product_line

Transaction ID:  5267
Empty cell:  product_class

Transaction ID:  5267
Empty cell:  product_size

Transaction ID:  5267
Empty cell:  standard_cost

Transaction ID:  5267
Empty cell:  product_first_sold_date

Transaction ID:  5354
Empty cell:  online_order

Transaction ID:  5416
Empty cell:  online_order

Transaction ID:  5434
Empty cell:  online_order

Transaction ID:  5455
Empty cell:  online_order

Transaction ID:  5461
Empty cell:  online_order

Transaction ID:  5476
Empty cell:  online_order

Transaction ID:  5562
Empty cell:  online_order

Transaction ID:  5575
Empty cell:  online_order

Transaction ID:  5603
Empty cell:  brand

Transaction ID:  5603
Empty cell:  product_line

Transaction ID:  5603
Empty cell:  product_class

Transaction ID:  5603
Empty cell:  product_size

Transaction ID:  5603
Empty cell:  standard_cost

Transaction ID:  5603
Empty cell:  product_first_sold_date

Transaction ID:  5643
Empty cell:  online_order

Transaction ID:  5673
Empty cell:  online_order

Transaction ID:  5718
Empty cell:  online_order

Transaction ID:  5743
Empty cell:  online_order

Transaction ID:  5756
Empty cell:  online_order

Transaction ID:  5802
Empty cell:  online_order

Transaction ID:  5835
Empty cell:  online_order

Transaction ID:  5862
Empty cell:  brand

Transaction ID:  5862
Empty cell:  product_line

Transaction ID:  5862
Empty cell:  product_class

Transaction ID:  5862
Empty cell:  product_size

Transaction ID:  5862
Empty cell:  standard_cost

Transaction ID:  5862
Empty cell:  product_first_sold_date

Transaction ID:  5888
Empty cell:  online_order

Transaction ID:  5893
Empty cell:  online_order

Transaction ID:  5964
Empty cell:  online_order

Transaction ID:  5978
Empty cell:  online_order

Transaction ID:  6038
Empty cell:  online_order

Transaction ID:  6072
Empty cell:  brand

Transaction ID:  6072
Empty cell:  product_line

Transaction ID:  6072
Empty cell:  product_class

Transaction ID:  6072
Empty cell:  product_size

Transaction ID:  6072
Empty cell:  standard_cost

Transaction ID:  6072
Empty cell:  product_first_sold_date

Transaction ID:  6112
Empty cell:  online_order

Transaction ID:  6138
Empty cell:  brand

Transaction ID:  6138
Empty cell:  product_line

Transaction ID:  6138
Empty cell:  product_class

Transaction ID:  6138
Empty cell:  product_size

Transaction ID:  6138
Empty cell:  standard_cost

Transaction ID:  6138
Empty cell:  product_first_sold_date

Transaction ID:  6148
Empty cell:  online_order

Transaction ID:  6168
Empty cell:  brand

Transaction ID:  6168
Empty cell:  product_line

Transaction ID:  6168
Empty cell:  product_class

Transaction ID:  6168
Empty cell:  product_size

Transaction ID:  6168
Empty cell:  standard_cost

Transaction ID:  6168
Empty cell:  product_first_sold_date

Transaction ID:  6250
Empty cell:  online_order

Transaction ID:  6251
Empty cell:  brand

Transaction ID:  6251
Empty cell:  product_line

Transaction ID:  6251
Empty cell:  product_class

Transaction ID:  6251
Empty cell:  product_size

Transaction ID:  6251
Empty cell:  standard_cost

Transaction ID:  6251
Empty cell:  product_first_sold_date

Transaction ID:  6269
Empty cell:  brand

Transaction ID:  6269
Empty cell:  product_line

Transaction ID:  6269
Empty cell:  product_class

Transaction ID:  6269
Empty cell:  product_size

Transaction ID:  6269
Empty cell:  standard_cost

Transaction ID:  6269
Empty cell:  product_first_sold_date

Transaction ID:  6356
Empty cell:  online_order

Transaction ID:  6378
Empty cell:  online_order

Transaction ID:  6400
Empty cell:  online_order

Transaction ID:  6415
Empty cell:  online_order

Transaction ID:  6419
Empty cell:  brand

Transaction ID:  6419

Transaction ID:  6430
Empty cell:  standard_cost

Transaction ID:  6430
Empty cell:  product_first_sold_date

Transaction ID:  6467
Empty cell:  online_order

Transaction ID:  6471
Empty cell:  online_order

Transaction ID:  6475
Empty cell:  online_order

Transaction ID:  6500
Empty cell:  brand

Transaction ID:  6500
Empty cell:  product_line

Transaction ID:  6500
Empty cell:  product_class

Transaction ID:  6500
Empty cell:  product_size

Transaction ID:  6500
Empty cell:  standard_cost

Transaction ID:  6500
Empty cell:  product_first_sold_date

Transaction ID:  6520
Empty cell:  online_order

Transaction ID:  6573
Empty cell:  online_order

Transaction ID:  6596
Empty cell:  brand

Transaction ID:  6596
Empty cell:  product_line

Transaction ID:  6596
Empty cell:  product_class

Transaction ID:  6596
Empty cell:  product_size

Transaction ID:  6596
Empty cell:  standard_cost

Transaction ID:  6596
Empty cell:  product_first_sold_date

Transaction ID:  6628
Empty cell:  online_order

Transaction ID:  6644
Empty cell:  brand

Transaction ID:  6644
Empty cell:  product_line

Transaction ID:  6644
Empty cell:  product_class

Transaction ID:  6644
Empty cell:  product_size

Transaction ID:  6644
Empty cell:  standard_cost

Transaction ID:  6644
Empty cell:  product_first_sold_date

Transaction ID:  6675
Empty cell:  brand

Transaction ID:  6675
Empty cell:  product_line

Transaction ID:  6675
Empty cell:  product_class

Transaction ID:  6675
Empty cell:  product_size

Transaction ID:  6675
Empty cell:  standard_cost

Transaction ID:  6675
Empty cell:  product_first_sold_date

Transaction ID:  6687
Empty cell:  online_order

Transaction ID:  6744
Empty cell:  online_order

Transaction ID:  6785
Empty cell:  online_order

Transaction ID:  6853
Empty cell:  online_order

Transaction ID:  6896
Empty cell:  online_order

Transaction ID:  6933
Empty cell:  brand

Transaction ID:  6933
Empty cell:  product_line

Transaction ID:  6933
Empty cell:  product_class

Transaction ID:  6933
Empty cell:  product_size

Transaction ID:  6933
Empty cell:  standard_cost

Transaction ID:  6933
Empty cell:  product_first_sold_date

Transaction ID:  6961
Empty cell:  brand

Transaction ID:  6961
Empty cell:  product_line

Transaction ID:  6961
Empty cell:  product_class

Transaction ID:  6961
Empty cell:  product_size

Transaction ID:  6961
Empty cell:  standard_cost

Transaction ID:  6961
Empty cell:  product_first_sold_date

Transaction ID:  6988
Empty cell:  brand

Transaction ID:  6988
Empty cell:  product_line

Transaction ID:  6988
Empty cell:  product_class

Transaction ID:  6988
Empty cell:  product_size

Transaction ID:  6988
Empty cell:  standard_cost

Transaction ID:  6988
Empty cell:  product_first_sold_date

Transaction ID:  7016
Empty cell:  brand

Transaction ID:  7016
Empty cell:  product_line

Transaction ID:  7016
Empty cell:  product_class

Transaction ID:  7016
Empty cell:  product_size

Transaction ID:  7016
Empty cell:  standard_cost

Transaction ID:  7016
Empty cell:  product_first_sold_date

Transaction ID:  7047
Empty cell:  brand

Transaction ID:  7047
Empty cell:  product_line

Transaction ID:  7047
Empty cell:  product_class

Transaction ID:  7047
Empty cell:  product_size

Transaction ID:  7047
Empty cell:  standard_cost

Transaction ID:  7047
Empty cell:  product_first_sold_date

Transaction ID:  7080
Empty cell:  online_order

Transaction ID:  7206
Empty cell:  brand

Transaction ID:  7206
Empty cell:  product_line

Transaction ID:  7206
Empty cell:  product_class

Transaction ID:  7206
Empty cell:  product_size

Transaction ID:  7206
Empty cell:  standard_cost

Transaction ID:  7206
Empty cell:  product_first_sold_date

Transaction ID:  7235
Empty cell:  brand

Transaction ID:  7235
Empty cell:  product_line

Transaction ID:  7235
Empty cell:  product_class

Transaction ID:  7235
Empty cell:  product_size

Transaction ID:  7235
Empty cell:  standard_cost

Transaction ID:  7235
Empty cell:  product_first_sold_date

Transaction ID:  7257
Empty cell:  online_order

Transaction ID:  7268
Empty cell:  online_order

Transaction ID:  7323
Empty cell:  online_order

Transaction ID:  7325
Empty cell:  online_order

Transaction ID:  7356
Empty cell:  brand

Transaction ID:  7356
Empty cell:  product_line

Transaction ID:  7356
Empty cell:  product_class

Transaction ID:  7356
Empty cell:  product_size

Transaction ID:  7356
Empty cell:  standard_cost

Transaction ID:  7356
Empty cell:  product_first_sold_date

Transaction ID:  7379
Empty cell:  online_order

Transaction ID:  7430
Empty cell:  online_order

Transaction ID:  7460
Empty cell:  online_order

Transaction ID:  7529
Empty cell:  online_order

Transaction ID:  7610
Empty cell:  brand

Transaction ID:  7610
Empty cell:  product_line

Transaction ID:  7610
Empty cell:  product_class

Transaction ID:  7610
Empty cell:  product_size

Transaction ID:  7610
Empty cell:  standard_cost

Transaction ID:  7610
Empty cell:  product_first_sold_date

Transaction ID:  7676
Empty cell:  online_order

Transaction ID:  7695
Empty cell:  brand

Transaction ID:  7695
Empty cell:  product_line

Transaction ID:  7695
Empty cell:  product_class

Transaction ID:  7695
Empty cell:  product_size

Transaction ID:  7695
Empty cell:  standard_cost

Transaction ID:  7695
Empty cell:  product_first_sold_date

Transaction ID:  7727
Empty cell:  online_order

Transaction ID:  7730
Empty cell:  brand

Transaction ID:  7730
Empty cell:  product_line

Transaction ID:  7730
Empty cell:  product_class

Transaction ID:  7730
Empty cell:  product_size

Transaction ID:  7730
Empty cell:  standard_cost

Transaction ID:  7730
Empty cell:  product_first_sold_date

Transaction ID:  7735
Empty cell:  brand

Transaction ID:  7735
Empty cell:  product_line

Transaction ID:  7735
Empty cell:  product_class

Transaction ID:  7735
Empty cell:  product_size

Transaction ID:  7735
Empty cell:  standard_cost

Transaction ID:  7735
Empty cell:  product_first_sold_date

Transaction ID:  7777
Empty cell:  online_order

Transaction ID:  7780
Empty cell:  brand

Transaction ID:  7780
Empty cell:  product_line

Transaction ID:  7780
Empty cell:  product_class

Transaction ID:  7780
Empty cell:  product_size

Transaction ID:  7780
Empty cell:  standard_cost

Transaction ID:  7780
Empty cell:  product_first_sold_date

Transaction ID:  7834
Empty cell:  online_order

Transaction ID:  7851
Empty cell:  brand

Transaction ID:  7851
Empty cell:  product_line

Transaction ID:  7851
Empty cell:  product_class

Transaction ID:  7851
Empty cell:  product_size

Transaction ID:  7851
Empty cell:  standard_cost

Transaction ID:  7851
Empty cell:  product_first_sold_date

Transaction ID:  7949
Empty cell:  brand

Transaction ID:  7949
Empty cell:  product_line

Transaction ID:  7949
Empty cell:  product_class

Transaction ID:  7949
Empty cell:  product_size

Transaction ID:  7949
Empty cell:  standard_cost

Transaction ID:  7949
Empty cell:  product_first_sold_date

Transaction ID:  7955
Empty cell:  online_order

Transaction ID:  7974
Empty cell:  online_order

Transaction ID:  7998
Empty cell:  online_order

Transaction ID:  8028
Empty cell:  online_order

Transaction ID:  8029
Empty cell:  online_order

Transaction ID:  8037
Empty cell:  online_order

Transaction ID:  8041
Empty cell:  online_order

Transaction ID:  8053
Empty cell:  online_order

Transaction ID:  8074
Empty cell:  online_order

Transaction ID:  8087
Empty cell:  online_order

Transaction ID:  8116
Empty cell:  online_order

Transaction ID:  8160
Empty cell:  brand

Transaction ID:  8160
Empty cell:  product_line

Transaction ID:  8160
Empty cell:  product_class

Transaction ID:  8160
Empty cell:  product_size

Transaction ID:  8160
Empty cell:  standard_cost

Transaction ID:  8160
Empty cell:  product_first_sold_date

Transaction ID:  8161
Empty cell:  online_order

Transaction ID:  8165
Empty cell:  online_order

Transaction ID:  8216
Empty cell:  brand

Transaction ID:  8216
Empty cell:  product_line

Transaction ID:  8216
Empty cell:  product_class

Transaction ID:  8216
Empty cell:  product_size

Transaction ID:  8216
Empty cell:  standard_cost

Transaction ID:  8216
Empty cell:  product_first_sold_date

Transaction ID:  8298
Empty cell:  brand

Transaction ID:  8298
Empty cell:  product_line

Transaction ID:  8298
Empty cell:  product_class

Transaction ID:  8298
Empty cell:  product_size

Transaction ID:  8298
Empty cell:  standard_cost

Transaction ID:  8298
Empty cell:  product_first_sold_date

Transaction ID:  8322
Empty cell:  brand

Transaction ID:  8322
Empty cell:  product_line

Transaction ID:  8322
Empty cell:  product_class

Transaction ID:  8322
Empty cell:  product_size

Transaction ID:  8322
Empty cell:  standard_cost

Transaction ID:  8322
Empty cell:  product_first_sold_date

Transaction ID:  8329
Empty cell:  brand

Transaction ID:  8329
Empty cell:  product_line

Transaction ID:  8329
Empty cell:  product_class

Transaction ID:  8329
Empty cell:  product_size

Transaction ID:  8329
Empty cell:  standard_cost

Transaction ID:  8329
Empty cell:  product_first_sold_date

Transaction ID:  8406
Empty cell:  online_order

Transaction ID:  8424
Empty cell:  brand

Transaction ID:  8424
Empty cell:  product_line

Transaction ID:  8424
Empty cell:  product_class

Transaction ID:  8424
Empty cell:  product_size

Transaction ID:  8424
Empty cell:  standard_cost

Transaction ID:  8424
Empty cell:  product_first_sold_date

Transaction ID:  8453
Empty cell:  online_order

Transaction ID:  8486
Empty cell:  brand

Transaction ID:  8486
Empty cell:  product_line

Transaction ID:  8486
Empty cell:  product_class

Transaction ID:  8486
Empty cell:  product_size

Transaction ID:  8486
Empty cell:  standard_cost

Transaction ID:  8486
Empty cell:  product_first_sold_date

Transaction ID:  8527
Empty cell:  brand

Transaction ID:  8527
Empty cell:  product_line

Transaction ID:  8527
Empty cell:  product_class

Transaction ID:  8527
Empty cell:  product_size

Transaction ID:  8527
Empty cell:  standard_cost

Transaction ID:  8527
Empty cell:  product_first_sold_date

Transaction ID:  8586
Empty cell:  brand

Transaction ID:  8586
Empty cell:  product_line

Transaction ID:  8586
Empty cell:  product_class

Transaction ID:  8586
Empty cell:  product_size

Transaction ID:  8586
Empty cell:  standard_cost

Transaction ID:  8586
Empty cell:  product_first_sold_date

Transaction ID:  8610
Empty cell:  brand

Transaction ID:  8610
Empty cell:  product_line

Transaction ID:  8610
Empty cell:  product_class

Transaction ID:  8610
Empty cell:  product_size

Transaction ID:  8610
Empty cell:  standard_cost

Transaction ID:  8610
Empty cell:  product_first_sold_date

Transaction ID:  8611
Empty cell:  brand

Transaction ID:  8611
Empty cell:  product_line

Transaction ID:  8611
Empty cell:  product_class

Transaction ID:  8611
Empty cell:  product_size

Transaction ID:  8611
Empty cell:  standard_cost

Transaction ID:  8611
Empty cell:  product_first_sold_date

Transaction ID:  8626
Empty cell:  online_order

Transaction ID:  8694
Empty cell:  online_order

Transaction ID:  8810
Empty cell:  online_order

Transaction ID:  8866
Empty cell:  online_order

Transaction ID:  8925
Empty cell:  brand

Transaction ID:  8925
Empty cell:  product_line

Transaction ID:  8925
Empty cell:  product_class

Transaction ID:  8925
Empty cell:  product_size

Transaction ID:  8925
Empty cell:  standard_cost

Transaction ID:  8925
Empty cell:  product_first_sold_date

Transaction ID:  8934
Empty cell:  online_order

Transaction ID:  8950
Empty cell:  online_order

Transaction ID:  8956
Empty cell:  brand

Transaction ID:  8956
Empty cell:  product_line

Transaction ID:  8956
Empty cell:  product_class

Transaction ID:  8956
Empty cell:  product_size

Transaction ID:  8956
Empty cell:  standard_cost

Transaction ID:  8956
Empty cell:  product_first_sold_date

Transaction ID:  9057
Empty cell:  online_order

Transaction ID:  9180
Empty cell:  online_order

Transaction ID:  9187
Empty cell:  brand

Transaction ID:  9187
Empty cell:  product_line

Transaction ID:  9187
Empty cell:  product_class

Transaction ID:  9187
Empty cell:  product_size

Transaction ID:  9187
Empty cell:  standard_cost

Transaction ID:  9187
Empty cell:  product_first_sold_date

Transaction ID:  9231
Empty cell:  brand

Transaction ID:  9231
Empty cell:  product_line

Transaction ID:  9231
Empty cell:  product_class

Transaction ID:  9231
Empty cell:  product_size

Transaction ID:  9231
Empty cell:  standard_cost

Transaction ID:  9231
Empty cell:  product_first_sold_date

Transaction ID:  9276
Empty cell:  brand

Transaction ID:  9276
Empty cell:  product_line

Transaction ID:  9276
Empty cell:  product_class

Transaction ID:  9276
Empty cell:  product_size

Transaction ID:  9276
Empty cell:  standard_cost

Transaction ID:  9276
Empty cell:  product_first_sold_date

Transaction ID:  9301
Empty cell:  online_order

Transaction ID:  9326
Empty cell:  brand

Transaction ID:  9326
Empty cell:  product_line

Transaction ID:  9326
Empty cell:  product_class

Transaction ID:  9326
Empty cell:  product_size

Transaction ID:  9326
Empty cell:  standard_cost

Transaction ID:  9326
Empty cell:  product_first_sold_date

Transaction ID:  9345
Empty cell:  online_order

Transaction ID:  9362
Empty cell:  online_order

Transaction ID:  9368
Empty cell:  online_order

Transaction ID:  9386
Empty cell:  online_order

Transaction ID:  9420
Empty cell:  brand

Transaction ID:  9420
Empty cell:  product_line

Transaction ID:  9420
Empty cell:  product_class

Transaction ID:  9420
Empty cell:  product_size

Transaction ID:  9420
Empty cell:  standard_cost

Transaction ID:  9420
Empty cell:  product_first_sold_date

Transaction ID:  9447
Empty cell:  online_order

Transaction ID:  9454
Empty cell:  brand

Transaction ID:  9454
Empty cell:  product_line

Transaction ID:  9454
Empty cell:  product_class

Transaction ID:  9454
Empty cell:  product_size

Transaction ID:  9454
Empty cell:  standard_cost

Transaction ID:  9454
Empty cell:  product_first_sold_date

Transaction ID:  9479
Empty cell:  brand

Transaction ID:  9479
Empty cell:  product_line

Transaction ID:  9479
Empty cell:  product_class

Transaction ID:  9479
Empty cell:  product_size

Transaction ID:  9479
Empty cell:  standard_cost

Transaction ID:  9479
Empty cell:  product_first_sold_date

Transaction ID:  9540
Empty cell:  online_order

Transaction ID:  9630
Empty cell:  brand

Transaction ID:  9630
Empty cell:  product_line

Transaction ID:  9630
Empty cell:  product_class

Transaction ID:  9630
Empty cell:  product_size

Transaction ID:  9630
Empty cell:  standard_cost

Transaction ID:  9630
Empty cell:  product_first_sold_date

Transaction ID:  9658
Empty cell:  online_order

Transaction ID:  9690
Empty cell:  online_order

Transaction ID:  9706
Empty cell:  online_order

Transaction ID:  9715
Empty cell:  brand

Transaction ID:  9715
Empty cell:  product_line

Transaction ID:  9715
Empty cell:  product_class

Transaction ID:  9715
Empty cell:  product_size

Transaction ID:  9715
Empty cell:  standard_cost

Transaction ID:  9715
Empty cell:  product_first_sold_date

Transaction ID:  9760
Empty cell:  brand

Transaction ID:  9760
Empty cell:  product_line

Transaction ID:  9760
Empty cell:  product_class

Transaction ID:  9760
Empty cell:  product_size

Transaction ID:  9760
Empty cell:  standard_cost

Transaction ID:  9760
Empty cell:  product_first_sold_date

Transaction ID:  9771
Empty cell:  online_order

Transaction ID:  9802
Empty cell:  online_order

Transaction ID:  9819
Empty cell:  online_order

Transaction ID:  9934
Empty cell:  online_order

Transaction ID:  9969
Empty cell:  online_order

Transaction ID:  9996
Empty cell:  online_order

Transaction ID:  10002
Empty cell:  brand

Transaction ID:  10002
Empty cell:  product_line

Transaction ID:  10002
Empty cell:  product_class

Transaction ID:  10002
Empty cell:  product_size

Transaction ID:  10002
Empty cell:  standard_cost

Transaction ID:  10002
Empty cell:  product_first_sold_date

Transaction ID:  10029
Empty cell:  online_order

Transaction ID:  10035
Empty cell:  online_order

Transaction ID:  10045
Empty cell:  brand

Transaction ID:  10045
Empty cell:  product_line

Transaction ID:  10045
Empty cell:  product_class

Transaction ID:  10045
Empty cell:  product_size

Transaction ID:  10045
Empty cell:  standard_cost

Transaction ID:  10045
Empty cell:  product_first_sold_date

Transaction ID:  10074
Empty cell:  online_order

Transaction ID:  10095
Empty cell:  online_order

Transaction ID:  10139
Empty cell:  online_order

Transaction ID:  10176
Empty cell:  online_order

Transaction ID:  10185
Empty cell:  online_order

Transaction ID:  10254
Empty cell:  online_order

Transaction ID:  10299
Empty cell:  online_order

Transaction ID:  10368
Empty cell:  online_order

Transaction ID:  10373
Empty cell:  online_order

Transaction ID:  10437
Empty cell:  online_order

Transaction ID:  10455
Empty cell:  online_order

Transaction ID:  10478
Empty cell:  online_order

Transaction ID:  10501
Empty cell:  online_order

Transaction ID:  10541
Empty cell:  brand

Transaction ID:  10541
Empty cell:  product_line

Transaction ID:  10541
Empty cell:  product_class

Transaction ID:  10541
Empty cell:  product_size

Transaction ID:  10541
Empty cell:  standard_cost

Transaction ID:  10541
Empty cell:  product_first_sold_date

Transaction ID:  10579
Empty cell:  online_order

Transaction ID:  10698
Empty cell:  online_order

Transaction ID:  10788
Empty cell:  online_order

Transaction ID:  10800
Empty cell:  online_order

Transaction ID:  10857
Empty cell:  online_order

Transaction ID:  10896
Empty cell:  brand

Transaction ID:  10896
Empty cell:  product_line

Transaction ID:  10896
Empty cell:  product_class

Transaction ID:  10896
Empty cell:  product_size

Transaction ID:  10896
Empty cell:  standard_cost

Transaction ID:  10896
Empty cell:  product_first_sold_date

Transaction ID:  10960
Empty cell:  brand

Transaction ID:  10960
Empty cell:  product_line

Transaction ID:  10960
Empty cell:  product_class

Transaction ID:  10960
Empty cell:  product_size

Transaction ID:  10960
Empty cell:  standard_cost

Transaction ID:  10960
Empty cell:  product_first_sold_date

Transaction ID:  11016

Empty cell:  online_order

Transaction ID:  11016
Empty cell:  brand

Transaction ID:  11016
Empty cell:  product_line

Transaction ID:  11016
Empty cell:  product_class

Transaction ID:  11016
Empty cell:  product_size

Transaction ID:  11016
Empty cell:  standard_cost

Transaction ID:  11016
Empty cell:  product_first_sold_date

Transaction ID:  11108
Empty cell:  online_order

Transaction ID:  11116
Empty cell:  brand

Transaction ID:  11116
Empty cell:  product_line

Transaction ID:  11116
Empty cell:  product_class

Transaction ID:  11116
Empty cell:  product_size

Transaction ID:  11116
Empty cell:  standard_cost

Transaction ID:  11116
Empty cell:  product_first_sold_date

Transaction ID:  11156
Empty cell:  online_order

Transaction ID:  11161
Empty cell:  online_order

Transaction ID:  11219
Empty cell:  brand

Transaction ID:  11219
Empty cell:  product_line

Transaction ID:  11219
Empty cell:  product_class

Transaction ID:  11219
Empty cell:  product_size

Transaction ID:  11219
Empty cell:  standard_cost

Transaction ID:  11219
Empty cell:  product_first_sold_date

Transaction ID:  11271
Empty cell:  online_order

Transaction ID:  11324
Empty cell:  online_order

Transaction ID:  11393
Empty cell:  brand

Transaction ID:  11393
Empty cell:  product_line

Transaction ID:  11393
Empty cell:  product_class

Transaction ID:  11393
Empty cell:  product_size

Transaction ID:  11393
Empty cell:  standard_cost

Transaction ID:  11393
Empty cell:  product_first_sold_date

Transaction ID:  11518
Empty cell:  brand

Transaction ID:  11518
Empty cell:  product_line

Transaction ID:  11518
Empty cell:  product_class

Transaction ID:  11518
Empty cell:  product_size

Transaction ID:  11518
Empty cell:  standard_cost

Transaction ID:  11518
Empty cell:  product_first_sold_date

Transaction ID:  11531
Empty cell:  brand

Transaction ID:  11531
Empty cell:  product_line

Transaction ID:  11531
Empty cell:  product_class

Transaction ID:  11531
Empty cell:  product_size

Transaction ID:  11531
Empty cell:  standard_cost

Transaction ID:  11531
Empty cell:  product_first_sold_date

Transaction ID:  11549
Empty cell:  brand

Transaction ID:  11549
Empty cell:  product_line

Transaction ID:  11549
Empty cell:  product_class

Transaction ID:  11549
Empty cell:  product_size

Transaction ID:  11549
Empty cell:  standard_cost

Transaction ID:  11549
Empty cell:  product_first_sold_date

Transaction ID:  11620
Empty cell:  online_order

Transaction ID:  11675
Empty cell:  online_order

Transaction ID:  11698
Empty cell:  online_order

Transaction ID:  11711
Empty cell:  online_order

Transaction ID:  11755
Empty cell:  online_order

Transaction ID:  11834
Empty cell:  brand

Transaction ID:  11834
Empty cell:  product_line

Transaction ID:  11834
Empty cell:  product_class

Transaction ID:  11834
Empty cell:  product_size

Transaction ID:  11834
Empty cell:  standard_cost

Transaction ID:  11834
Empty cell:  product_first_sold_date

Transaction ID:  11843
Empty cell:  brand

Transaction ID:  11843
Empty cell:  product_line

Transaction ID:  11843
Empty cell:  product_class

Transaction ID:  11843
Empty cell:  product_size

Transaction ID:  11843
Empty cell:  standard_cost

Transaction ID:  11843
Empty cell:  product_first_sold_date

Transaction ID:  11913
Empty cell:  online_order

Transaction ID:  11965
Empty cell:  online_order

Transaction ID:  11985
Empty cell:  online_order

Transaction ID:  12004
Empty cell:  online_order

Transaction ID:  12022
Empty cell:  brand

Transaction ID:  12022
Empty cell:  product_line

Transaction ID:  12022
Empty cell:  product_class

Transaction ID:  12022
Empty cell:  product_size

Transaction ID:  12022
Empty cell:  standard_cost

Transaction ID:  12022
Empty cell:  product_first_sold_date

Transaction ID:  12072
Empty cell:  brand

Transaction ID:  12072
Empty cell:  product_line

Transaction ID:  12072
Empty cell:  product_class

Transaction ID:  12072
Empty cell:  product_size

Transaction ID:  12072
Empty cell:  standard_cost

Transaction ID:  12072
Empty cell:  product_first_sold_date

Transaction ID:  12073
Empty cell:  online_order

Transaction ID:  12109
Empty cell:  online_order

Transaction ID:  12139
Empty cell:  brand

Transaction ID:  12139
Empty cell:  product_line

Transaction ID:  12139
Empty cell:  product_class

Transaction ID:  12139
Empty cell:  product_size

Transaction ID:  12139
Empty cell:  standard_cost

Transaction ID:  12139
Empty cell:  product_first_sold_date

Transaction ID:  12206
Empty cell:  brand

Transaction ID:  12206
Empty cell:  product_line

Transaction ID:  12206
Empty cell:  product_class

Transaction ID:  12206
Empty cell:  product_size

Transaction ID:  12206
Empty cell:  standard_cost

Transaction ID:  12206
Empty cell:  product_first_sold_date

Transaction ID:  12302
Empty cell:  online_order

Transaction ID:  12303
Empty cell:  online_order

Transaction ID:  12320
Empty cell:  online_order

Transaction ID:  12323
Empty cell:  brand

Transaction ID:  12323
Empty cell:  product_line

Transaction ID:  12323
Empty cell:  product_class

Transaction ID:  12323
Empty cell:  product_size

Transaction ID:  12323
Empty cell:  standard_cost

Transaction ID:  12323
Empty cell:  product_first_sold_date

Transaction ID:  12331
Empty cell:  online_order

Transaction ID:  12344
Empty cell:  brand

Transaction ID:  12344
Empty cell:  product_line

Transaction ID:  12344
Empty cell:  product_class

Transaction ID:  12344
Empty cell:  product_size

Transaction ID:  12344
Empty cell:  standard_cost

Transaction ID:  12344
Empty cell:  product_first_sold_date

Transaction ID:  12347
Empty cell:  brand

Transaction ID:  12347
Empty cell:  product_line

Transaction ID:  12347
Empty cell:  product_class

Transaction ID:  12347
Empty cell:  product_size

Transaction ID:  12347
Empty cell:  standard_cost

Transaction ID:  12347
Empty cell:  product_first_sold_date

Transaction ID:  12403
Empty cell:  online_order

Transaction ID:  12462
Empty cell:  brand

Transaction ID:  12462
Empty cell:  product_line

Transaction ID:  12462
Empty cell:  product_class

Transaction ID:  12462
Empty cell:  product_size

Transaction ID:  12462
Empty cell:  standard_cost

Transaction ID:  12462
Empty cell:  product_first_sold_date

Transaction ID:  12467
Empty cell:  online_order

Transaction ID:  12503
Empty cell:  online_order

Transaction ID:  12592
Empty cell:  online_order

Transaction ID:  12617
Empty cell:  online_order

Transaction ID:  12644
Empty cell:  online_order

Transaction ID:  12678
Empty cell:  online_order

Transaction ID:  12692
Empty cell:  online_order

Transaction ID:  12711
Empty cell:  online_order

Transaction ID:  12753
Empty cell:  online_order

Transaction ID:  12758
Empty cell:  online_order

Transaction ID:  12770
Empty cell:  online_order

Transaction ID:  12790
Empty cell:  online_order

Transaction ID:  12817
Empty cell:  brand

Transaction ID:  12817
Empty cell:  product_line

Transaction ID:  12817
Empty cell:  product_class

Transaction ID:  12817
Empty cell:  product_size

Transaction ID:  12817
Empty cell:  standard_cost

Transaction ID:  12817
Empty cell:  product_first_sold_date

Transaction ID:  12870
Empty cell:  brand

Transaction ID:  12870
Empty cell:  product_line

Transaction ID:  12870
Empty cell:  product_class

Transaction ID:  12870
Empty cell:  product_size

Transaction ID:  12870
Empty cell:  standard_cost

Transaction ID:  12870
Empty cell:  product_first_sold_date

Transaction ID:  12897
Empty cell:  online_order

Transaction ID:  12912
Empty cell:  brand

Transaction ID:  12912
Empty cell:  product_line

Transaction ID:  12912
Empty cell:  product_class

Transaction ID:  12912
Empty cell:  product_size

Transaction ID:  12912
Empty cell:  standard_cost

Transaction ID:  12912
Empty cell:  product_first_sold_date

Transaction ID:  12918
Empty cell:  online_order

Transaction ID:  12930
Empty cell:  online_order

Transaction ID:  12934
Empty cell:  online_order

Transaction ID:  12969
Empty cell:  brand

Transaction ID:  12969
Empty cell:  product_line

Transaction ID:  12969
Empty cell:  product_class

Transaction ID:  12969
Empty cell:  product_size

Transaction ID:  12969
Empty cell:  standard_cost

Transaction ID:  12969
Empty cell:  product_first_sold_date

Transaction ID:  13011
Empty cell:  brand

Transaction ID:  13011
Empty cell:  product_line

Transaction ID:  13011
Empty cell:  product_class

Transaction ID:  13011
Empty cell:  product_size

Transaction ID:  13011
Empty cell:  standard_cost

Transaction ID:  13011
Empty cell:  product_first_sold_date

Transaction ID:  13025
Empty cell:  online_order

Transaction ID:  13025
Empty cell:  brand

Transaction ID:  13025
Empty cell:  product_line

Transaction ID:  13025
Empty cell:  product_class

Transaction ID:  13025
Empty cell:  product_size

Transaction ID:  13025
Empty cell:  standard_cost

Transaction ID:  13025
Empty cell:  product_first_sold_date

Transaction ID:  13028
Empty cell:  brand

Transaction ID:  13028
Empty cell:  product_line

Transaction ID:  13028
Empty cell:  product_class

Transaction ID:  13028
Empty cell:  product_size

Transaction ID:  13028
Empty cell:  standard_cost

Transaction ID:  13028
Empty cell:  product_first_sold_date

Transaction ID:  13057
Empty cell:  online_order

Transaction ID:  13141
Empty cell:  brand

Transaction ID:  13141
Empty cell:  product_line

Transaction ID:  13141
Empty cell:  product_class

Transaction ID:  13141
Empty cell:  product_size

Transaction ID:  13141
Empty cell:  standard_cost

Transaction ID:  13141
Empty cell:  product_first_sold_date

Transaction ID:  13212
Empty cell:  online_order

Transaction ID:  13223
Empty cell:  online_order

Transaction ID:  13284
Empty cell:  online_order

Transaction ID:  13292
Empty cell:  online_order

Transaction ID:  13314
Empty cell:  online_order

Transaction ID:  13344
Empty cell:  brand

Transaction ID:  13344
Empty cell:  product_line

Transaction ID:  13344
Empty cell:  product_class

Transaction ID:  13344
Empty cell:  product_size

Transaction ID:  13344
Empty cell:  standard_cost

Transaction ID:  13344
Empty cell:  product_first_sold_date

Transaction ID:  13345
Empty cell:  brand

Transaction ID:  13345
Empty cell:  product_line

Transaction ID:  13345
Empty cell:  product_class

Transaction ID:  13345
Empty cell:  product_size

Transaction ID:  13345
Empty cell:  standard_cost

Transaction ID:  13345
Empty cell:  product_first_sold_date

Transaction ID:  13357
Empty cell:  online_order

Transaction ID:  13369
Empty cell:  brand

Transaction ID:  13369
Empty cell:  product_line

Transaction ID:  13369
Empty cell:  product_class

Transaction ID:  13369
Empty cell:  product_size

Transaction ID:  13369
Empty cell:  standard_cost

Transaction ID:  13369
Empty cell:  product_first_sold_date

Transaction ID:  13380
Empty cell:  brand

Transaction ID:  13380
Empty cell:  product_line

Transaction ID:  13380
Empty cell:  product_class

Transaction ID:  13380
Empty cell:  product_size

Transaction ID:  13380
Empty cell:  standard_cost

Transaction ID:  13380
Empty cell:  product_first_sold_date

Transaction ID:  13408
Empty cell:  online_order

Transaction ID:  13439
Empty cell:  online_order

Transaction ID:  13460
Empty cell:  brand

Transaction ID:  13460
Empty cell:  product_line

Transaction ID:  13460
Empty cell:  product_class

Transaction ID:  13460
Empty cell:  product_size

Transaction ID:  13460
Empty cell:  standard_cost

Transaction ID:  13460
Empty cell:  product_first_sold_date

Transaction ID:  13512
Empty cell:  online_order

Transaction ID:  13520
Empty cell:  brand

Transaction ID:  13520
Empty cell:  product_line

Transaction ID:  13520
Empty cell:  product_class

Transaction ID:  13520
Empty cell:  product_size

Transaction ID:  13520
Empty cell:  standard_cost

Transaction ID:  13520
Empty cell:  product_first_sold_date

Transaction ID:  13531
Empty cell:  online_order

Transaction ID:  13593
Empty cell:  online_order

Transaction ID:  13594
Empty cell:  brand

Transaction ID:  13594
Empty cell:  product_line

Transaction ID:  13594
Empty cell:  product_class

Transaction ID:  13594
Empty cell:  product_size

Transaction ID:  13594
Empty cell:  standard_cost

Transaction ID:  13594
Empty cell:  product_first_sold_date

Transaction ID:  13631
Empty cell:  online_order

Transaction ID:  13660
Empty cell:  brand

Transaction ID:  13660
Empty cell:  product_line

Transaction ID:  13660
Empty cell:  product_class

Transaction ID:  13660
Empty cell:  product_size

Transaction ID:  13660
Empty cell:  standard_cost

Transaction ID:  13660
Empty cell:  product_first_sold_date

Transaction ID:  13671
Empty cell:  online_order

Transaction ID:  13681
Empty cell:  brand

Transaction ID:  13681
Empty cell:  product_line

Transaction ID:  13681
Empty cell:  product_class

Transaction ID:  13681
Empty cell:  product_size

Transaction ID:  13681
Empty cell:  standard_cost

Transaction ID:  13681
Empty cell:  product_first_sold_date

Transaction ID:  13706
Empty cell:  online_order

Transaction ID:  13713
Empty cell:  online_order

Transaction ID:  13720
Empty cell:  brand

Transaction ID:  13720
Empty cell:  product_line

Transaction ID:  13720
Empty cell:  product_class

Transaction ID:  13720
Empty cell:  product_size

Transaction ID:  13720
Empty cell:  standard_cost

Transaction ID:  13720
Empty cell:  product_first_sold_date

Transaction ID:  13739
Empty cell:  brand

Transaction ID:  13739
Empty cell:  product_line

Transaction ID:  13739
Empty cell:  product_class

Transaction ID:  13739
Empty cell:  product_size

Transaction ID:  13739
Empty cell:  standard_cost

Transaction ID:  13739
Empty cell:  product_first_sold_date

Transaction ID:  13809
Empty cell:  brand

Transaction ID:  13809
Empty cell:  product_line

Transaction ID:  13809
Empty cell:  product_class

Transaction ID:  13809
Empty cell:  product_size

Transaction ID:  13809
Empty cell:  standard_cost

Transaction ID:  13809
Empty cell:  product_first_sold_date

Transaction ID:  13826
Empty cell:  online_order

Transaction ID:  13837
Empty cell:  online_order

Transaction ID:  13849
Empty cell:  brand

Transaction ID:  13849
Empty cell:  product_line

Transaction ID:  13849
Empty cell:  product_class

Transaction ID:  13849
Empty cell:  product_size

Transaction ID:  13849
Empty cell:  standard_cost

Transaction ID:  13849
Empty cell:  product_first_sold_date

Transaction ID:  13873
Empty cell:  brand

Transaction ID:  13873
Empty cell:  product_line

Transaction ID:  13873
Empty cell:  product_class

Transaction ID:  13873
Empty cell:  product_size

Transaction ID:  13873
Empty cell:  standard_cost

Transaction ID:  13873
Empty cell:  product_first_sold_date

Transaction ID:  14060
Empty cell:  online_order

Transaction ID:  14167
Empty cell:  online_order

Transaction ID:  14187
Empty cell:  online_order

Transaction ID:  14228
Empty cell:  brand

Transaction ID:  14228
Empty cell:  product_line

Transaction ID:  14228
Empty cell:  product_class

Transaction ID:  14228
Empty cell:  product_size

Transaction ID:  14228
Empty cell:  standard_cost

Transaction ID:  14228
Empty cell:  product_first_sold_date

Transaction ID:  14296
Empty cell:  online_order

Transaction ID:  14305
Empty cell:  brand

Transaction ID:  14305
Empty cell:  product_line

Transaction ID:  14305
Empty cell:  product_class

Transaction ID:  14305
Empty cell:  product_size

Transaction ID:  14305
Empty cell:  standard_cost

Transaction ID:  14305
Empty cell:  product_first_sold_date

Transaction ID:  14316
Empty cell:  online_order

Transaction ID:  14333
Empty cell:  online_order

Transaction ID:  14410
Empty cell:  brand

Transaction ID:  14410
Empty cell:  product_line

Transaction ID:  14410
Empty cell:  product_class

Transaction ID:  14410
Empty cell:  product_size

Transaction ID:  14410
Empty cell:  standard_cost

Transaction ID:  14410
Empty cell:  product_first_sold_date

Transaction ID:  14423
Empty cell:  brand

Transaction ID:  14423
Empty cell:  product_line

Transaction ID:  14423
Empty cell:  product_class

Transaction ID:  14423
Empty cell:  product_size

Transaction ID:  14423
Empty cell:  standard_cost

Transaction ID:  14423
Empty cell:  product_first_sold_date

Transaction ID:  14429
Empty cell:  online_order

Transaction ID:  14444
Empty cell:  brand

Transaction ID:  14444
Empty cell:  product_line

Transaction ID:  14444
Empty cell:  product_class

Transaction ID:  14444
Empty cell:  product_size

Transaction ID:  14444
Empty cell:  standard_cost

Transaction ID:  14444
Empty cell:  product_first_sold_date

Transaction ID:  14480
Empty cell:  online_order

Transaction ID:  14545
Empty cell:  online_order

Transaction ID:  14566
Empty cell:  online_order

Transaction ID:  14575
Empty cell:  online_order

Transaction ID:  14608
Empty cell:  brand

Transaction ID:  14608
Empty cell:  product_line

Transaction ID:  14608
Empty cell:  product_class

Transaction ID:  14608
Empty cell:  product_size

Transaction ID:  14608
Empty cell:  standard_cost

Transaction ID:  14608
Empty cell:  product_first_sold_date

Transaction ID:  14621
Empty cell:  online_order

Transaction ID:  14641
Empty cell:  brand

Transaction ID:  14641
Empty cell:  product_line

Transaction ID:  14641
Empty cell:  product_class

Transaction ID:  14641
Empty cell:  product_size

Transaction ID:  14641
Empty cell:  standard_cost

Transaction ID:  14641
Empty cell:  product_first_sold_date

Transaction ID:  14642
Empty cell:  online_order

Transaction ID:  14668
Empty cell:  online_order

Transaction ID:  14755
Empty cell:  brand

Transaction ID:  14755
Empty cell:  product_line

Transaction ID:  14755
Empty cell:  product_class

Transaction ID:  14755
Empty cell:  product_size

Transaction ID:  14755
Empty cell:  standard_cost

Transaction ID:  14755
Empty cell:  product_first_sold_date

Transaction ID:  14761
Empty cell:  online_order

Transaction ID:  14762
Empty cell:  online_order

Transaction ID:  14795
Empty cell:  online_order

Transaction ID:  14799
Empty cell:  online_order

Transaction ID:  14836
Empty cell:  brand

Transaction ID:  14836
Empty cell:  product_line

Transaction ID:  14836
Empty cell:  product_class

Transaction ID:  14836
Empty cell:  product_size

Transaction ID:  14836
Empty cell:  standard_cost

Transaction ID:  14836
Empty cell:  product_first_sold_date

Transaction ID:  14846
Empty cell:  brand

Transaction ID:  14846
Empty cell:  product_line

Transaction ID:  14846
Empty cell:  product_class

Transaction ID:  14846
Empty cell:  product_size

Transaction ID:  14846
Empty cell:  standard_cost

Transaction ID:  14846
Empty cell:  product_first_sold_date

Transaction ID:  14869
Empty cell:  online_order

Transaction ID:  14893
Empty cell:  online_order

Transaction ID:  14922
Empty cell:  brand

Transaction ID:  14922
Empty cell:  product_line

Transaction ID:  14922
Empty cell:  product_class

Transaction ID:  14922
Empty cell:  product_size

Transaction ID:  14922
Empty cell:  standard_cost

Transaction ID:  14922
Empty cell:  product_first_sold_date

Transaction ID:  15030
Empty cell:  online_order

Transaction ID:  15061
Empty cell:  online_order

Transaction ID:  15066
Empty cell:  online_order

Transaction ID:  15106
Empty cell:  online_order

Transaction ID:  15112
Empty cell:  online_order

Transaction ID:  15115
Empty cell:  online_order

Transaction ID:  15148
Empty cell:  brand

Transaction ID:  15148
Empty cell:  product_line

Transaction ID:  15148
Empty cell:  product_class

Transaction ID:  15148
Empty cell:  product_size

Transaction ID:  15148
Empty cell:  standard_cost

Transaction ID:  15148
Empty cell:  product_first_sold_date

Transaction ID:  15165
Empty cell:  online_order

Transaction ID:  15190
Empty cell:  online_order

Transaction ID:  15242
Empty cell:  online_order

Transaction ID:  15268
Empty cell:  brand

Transaction ID:  15268
Empty cell:  product_line

Transaction ID:  15268

Transaction ID:  16102
Empty cell:  online_order

Transaction ID:  16161
Empty cell:  online_order

Transaction ID:  16187
Empty cell:  online_order

Transaction ID:  16222
Empty cell:  online_order

Transaction ID:  16249
Empty cell:  brand

Transaction ID:  16249
Empty cell:  product_line

Transaction ID:  16249
Empty cell:  product_class

Transaction ID:  16249
Empty cell:  product_size

Transaction ID:  16249
Empty cell:  standard_cost

Transaction ID:  16249
Empty cell:  product_first_sold_date

Transaction ID:  16255
Empty cell:  online_order

Transaction ID:  16285
Empty cell:  online_order

Transaction ID:  16289
Empty cell:  brand

Transaction ID:  16289
Empty cell:  product_line

Transaction ID:  16289
Empty cell:  product_class

Transaction ID:  16289
Empty cell:  product_size

Transaction ID:  16289
Empty cell:  standard_cost

Transaction ID:  16289
Empty cell:  product_first_sold_date

Transaction ID:  16347
Empty cell:  online_order

Transaction ID:  16497
Empty cell:  brand

Transaction ID:  16497
Empty cell:  product_line

Transaction ID:  16497
Empty cell:  product_class

Transaction ID:  16497
Empty cell:  product_size

Transaction ID:  16497
Empty cell:  standard_cost

Transaction ID:  16497
Empty cell:  product_first_sold_date

Transaction ID:  16506
Empty cell:  online_order

Transaction ID:  16520
Empty cell:  online_order

Transaction ID:  16548
Empty cell:  online_order

Transaction ID:  16661
Empty cell:  brand

Transaction ID:  16661
Empty cell:  product_line

Transaction ID:  16661
Empty cell:  product_class

Transaction ID:  16661
Empty cell:  product_size

Transaction ID:  16661
Empty cell:  standard_cost

Transaction ID:  16661
Empty cell:  product_first_sold_date

Transaction ID:  16682
Empty cell:  brand

Transaction ID:  16682
Empty cell:  product_line

Transaction ID:  16682
Empty cell:  product_class

Transaction ID:  16682
Empty cell:  product_size

Transaction ID:  16682
Empty cell:  standard_cost

Transaction ID:  16682
Empty cell:  product_first_sold_date

Transaction ID:  16698
Empty cell:  online_order

Transaction ID:  16725
Empty cell:  online_order

Transaction ID:  16729
Empty cell:  online_order

Transaction ID:  16744
Empty cell:  online_order

Transaction ID:  16767
Empty cell:  brand

Transaction ID:  16767
Empty cell:  product_line

Transaction ID:  16767
Empty cell:  product_class

Transaction ID:  16767
Empty cell:  product_size

Transaction ID:  16767
Empty cell:  standard_cost

Transaction ID:  16767
Empty cell:  product_first_sold_date

Transaction ID:  16846
Empty cell:  online_order

Transaction ID:  16853
Empty cell:  online_order

Transaction ID:  16907
Empty cell:  brand

Transaction ID:  16907
Empty cell:  product_line

Transaction ID:  16907
Empty cell:  product_class

Transaction ID:  16907
Empty cell:  product_size

Transaction ID:  16907
Empty cell:  standard_cost

Transaction ID:  16907
Empty cell:  product_first_sold_date

Transaction ID:  16919
Empty cell:  online_order

Transaction ID:  16935
Empty cell:  brand

Transaction ID:  16935
Empty cell:  product_line

Transaction ID:  16935
Empty cell:  product_class

Transaction ID:  16935
Empty cell:  product_size

Transaction ID:  16935
Empty cell:  standard_cost

Transaction ID:  16935
Empty cell:  product_first_sold_date

Transaction ID:  17061
Empty cell:  online_order

Transaction ID:  17072
Empty cell:  online_order

Transaction ID:  17085
Empty cell:  online_order

Transaction ID:  17106
Empty cell:  online_order

Transaction ID:  17150
Empty cell:  brand

Transaction ID:  17150
Empty cell:  product_line

Transaction ID:  17150
Empty cell:  product_class

Transaction ID:  17150
Empty cell:  product_size

Transaction ID:  17150
Empty cell:  standard_cost

Transaction ID:  17150
Empty cell:  product_first_sold_date

Transaction ID:  17164
Empty cell:  online_order

Transaction ID:  17233
Empty cell:  online_order

Transaction ID:  17236
Empty cell:  brand

Transaction ID:  17236
Empty cell:  product_line

Transaction ID:  17236
Empty cell:  product_class

Transaction ID:  17236
Empty cell:  product_size

Transaction ID:  17236
Empty cell:  standard_cost

Transaction ID:  17236
Empty cell:  product_first_sold_date

Transaction ID:  17292
Empty cell:  brand

Transaction ID:  17292
Empty cell:  product_line

Transaction ID:  17292
Empty cell:  product_class

Transaction ID:  17292
Empty cell:  product_size

Transaction ID:  17292
Empty cell:  standard_cost

Transaction ID:  17292
Empty cell:  product_first_sold_date

Transaction ID:  17332
Empty cell:  brand

Transaction ID:  17332
Empty cell:  product_line

Transaction ID:  17332
Empty cell:  product_class

Transaction ID:  17332
Empty cell:  product_size

Transaction ID:  17332
Empty cell:  standard_cost

Transaction ID:  17332
Empty cell:  product_first_sold_date

Transaction ID:  17335
Empty cell:  online_order

Transaction ID:  17415
Empty cell:  online_order

Transaction ID:  17432
Empty cell:  brand

Transaction ID:  17432
Empty cell:  product_line

Transaction ID:  17432
Empty cell:  product_class

Transaction ID:  17432
Empty cell:  product_size

Transaction ID:  17432
Empty cell:  standard_cost

Transaction ID:  17432
Empty cell:  product_first_sold_date

Transaction ID:  17435
Empty cell:  online_order

Transaction ID:  17535
Empty cell:  brand

Transaction ID:  17535
Empty cell:  product_line

Transaction ID:  17535
Empty cell:  product_class

Transaction ID:  17535
Empty cell:  product_size

Transaction ID:  17535
Empty cell:  standard_cost

Transaction ID:  17535
Empty cell:  product_first_sold_date

Transaction ID:  17560
Empty cell:  online_order

Transaction ID:  17716
Empty cell:  online_order

Transaction ID:  17734
Empty cell:  online_order

Transaction ID:  17768
Empty cell:  brand

Transaction ID:  17768
Empty cell:  product_line

Transaction ID:  17768
Empty cell:  product_class

Transaction ID:  17768
Empty cell:  product_size

Transaction ID:  17768
Empty cell:  standard_cost

Transaction ID:  17768
Empty cell:  product_first_sold_date

Transaction ID:  17862
Empty cell:  online_order

Transaction ID:  17890
Empty cell:  online_order

Transaction ID:  17919
Empty cell:  brand

Transaction ID:  17919
Empty cell:  product_line

Transaction ID:  17919
Empty cell:  product_class

Transaction ID:  17919
Empty cell:  product_size

Transaction ID:  17919
Empty cell:  standard_cost

Transaction ID:  17919
Empty cell:  product_first_sold_date

Transaction ID:  17988
Empty cell:  brand

Transaction ID:  17988
Empty cell:  product_line

Transaction ID:  17988
Empty cell:  product_class

Transaction ID:  17988
Empty cell:  product_size

Transaction ID:  17988
Empty cell:  standard_cost

Transaction ID:  17988
Empty cell:  product_first_sold_date

Transaction ID:  18011
Empty cell:  online_order

Transaction ID:  18022
Empty cell:  brand

Transaction ID:  18022
Empty cell:  product_line

Transaction ID:  18022
Empty cell:  product_class

Transaction ID:  18022
Empty cell:  product_size

Transaction ID:  18022
Empty cell:  standard_cost

Transaction ID:  18022
Empty cell:  product_first_sold_date

Transaction ID:  18023
Empty cell:  online_order

Transaction ID:  18043
Empty cell:  online_order

Transaction ID:  18052
Empty cell:  brand

Transaction ID:  18052
Empty cell:  product_line

Transaction ID:  18052
Empty cell:  product_class

Transaction ID:  18052
Empty cell:  product_size

Transaction ID:  18052
Empty cell:  standard_cost

Transaction ID:  18052
Empty cell:  product_first_sold_date

Transaction ID:  18069
Empty cell:  online_order

Transaction ID:  18086
Empty cell:  online_order

Transaction ID:  18245
Empty cell:  brand

Transaction ID:  18245
Empty cell:  product_line

Transaction ID:  18245
Empty cell:  product_class

Transaction ID:  18245
Empty cell:  product_size

Transaction ID:  18245
Empty cell:  standard_cost

Transaction ID:  18245
Empty cell:  product_first_sold_date

Transaction ID:  18278
Empty cell:  brand

Transaction ID:  18278
Empty cell:  product_line

Transaction ID:  18278
Empty cell:  product_class

Transaction ID:  18278
Empty cell:  product_size

Transaction ID:  18278
Empty cell:  standard_cost

Transaction ID:  18278
Empty cell:  product_first_sold_date

Transaction ID:  18280
Empty cell:  brand

Transaction ID:  18280
Empty cell:  product_line

Transaction ID:  18280
Empty cell:  product_class

Transaction ID:  18280
Empty cell:  product_size

Transaction ID:  18280
Empty cell:  standard_cost

Transaction ID:  18280
Empty cell:  product_first_sold_date

Transaction ID:  18336
Empty cell:  online_order

Transaction ID:  18345
Empty cell:  brand

Transaction ID:  18345
Empty cell:  product_line

Transaction ID:  18345
Empty cell:  product_class

Transaction ID:  18345
Empty cell:  product_size

Transaction ID:  18345
Empty cell:  standard_cost

Transaction ID:  18345
Empty cell:  product_first_sold_date

Transaction ID:  18472
Empty cell:  online_order

Transaction ID:  18493
Empty cell:  brand

Transaction ID:  18493
Empty cell:  product_line

Transaction ID:  18493
Empty cell:  product_class

Transaction ID:  18493
Empty cell:  product_size

Transaction ID:  18493
Empty cell:  standard_cost

Transaction ID:  18493
Empty cell:  product_first_sold_date

Transaction ID:  18502
Empty cell:  online_order

Transaction ID:  18544
Empty cell:  brand

Transaction ID:  18544
Empty cell:  product_line

Transaction ID:  18544
Empty cell:  product_class

Transaction ID:  18544
Empty cell:  product_size

Transaction ID:  18544
Empty cell:  standard_cost

Transaction ID:  18544
Empty cell:  product_first_sold_date

Transaction ID:  18554
Empty cell:  brand

Transaction ID:  18554
Empty cell:  product_line

Transaction ID:  18554
Empty cell:  product_class

Transaction ID:  18554
Empty cell:  product_size

Transaction ID:  18554
Empty cell:  standard_cost

Transaction ID:  18554
Empty cell:  product_first_sold_date

Transaction ID:  18607
Empty cell:  online_order

Transaction ID:  18625
Empty cell:  online_order

Transaction ID:  18690
Empty cell:  online_order

Transaction ID:  18712
Empty cell:  online_order

Transaction ID:  18723
Empty cell:  online_order

Transaction ID:  18752
Empty cell:  online_order

Transaction ID:  18755
Empty cell:  online_order

Transaction ID:  18779
Empty cell:  brand

Transaction ID:  18779
Empty cell:  product_line

Transaction ID:  18779
Empty cell:  product_class

Transaction ID:  18779
Empty cell:  product_size

Transaction ID:  18779
Empty cell:  standard_cost

Transaction ID:  18779
Empty cell:  product_first_sold_date

Transaction ID:  18820
Empty cell:  brand

Transaction ID:  18820
Empty cell:  product_line

Transaction ID:  18820
Empty cell:  product_class

Transaction ID:  18820
Empty cell:  product_size

Transaction ID:  18820
Empty cell:  standard_cost

Transaction ID:  18820
Empty cell:  product_first_sold_date

Transaction ID:  18822
Empty cell:  online_order

Transaction ID:  18847
Empty cell:  online_order

Transaction ID:  18983
Empty cell:  online_order

Transaction ID:  19018
Empty cell:  brand

Transaction ID:  19018
Empty cell:  product_line

Transaction ID:  19018
Empty cell:  product_class

Transaction ID:  19018
Empty cell:  product_size

Transaction ID:  19018
Empty cell:  standard_cost

Transaction ID:  19018
Empty cell:  product_first_sold_date

Transaction ID:  19025
Empty cell:  online_order

Transaction ID:  19046
Empty cell:  brand

Transaction ID:  19046
Empty cell:  product_line

Transaction ID:  19046
Empty cell:  product_class

Transaction ID:  19046
Empty cell:  product_size

Transaction ID:  19046
Empty cell:  standard_cost

Transaction ID:  19046
Empty cell:  product_first_sold_date

Transaction ID:  19083
Empty cell:  online_order

Transaction ID:  19101
Empty cell:  online_order

Transaction ID:  19133
Empty cell:  brand

Transaction ID:  19133
Empty cell:  product_line

Transaction ID:  19133
Empty cell:  product_class

Transaction ID:  19133
Empty cell:  product_size

Transaction ID:  19133
Empty cell:  standard_cost

Transaction ID:  19133
Empty cell:  product_first_sold_date

Transaction ID:  19177
Empty cell:  brand

Transaction ID:  19177
Empty cell:  product_line

Transaction ID:  19177
Empty cell:  product_class

Transaction ID:  19177
Empty cell:  product_size

Transaction ID:  19177
Empty cell:  standard_cost

Transaction ID:  19177
Empty cell:  product_first_sold_date

Transaction ID:  19197
Empty cell:  brand

Transaction ID:  19197
Empty cell:  product_line

Transaction ID:  19197
Empty cell:  product_class

Transaction ID:  19197
Empty cell:  product_size

Transaction ID:  19197
Empty cell:  standard_cost

Transaction ID:  19197
Empty cell:  product_first_sold_date

Transaction ID:  19206
Empty cell:  brand

Transaction ID:  19206
Empty cell:  product_line

Transaction ID:  19206
Empty cell:  product_class

Transaction ID:  19206
Empty cell:  product_size

Transaction ID:  19206
Empty cell:  standard_cost

Transaction ID:  19206
Empty cell:  product_first_sold_date

Transaction ID:  19272
Empty cell:  online_order

Transaction ID:  19283
Empty cell:  online_order

Transaction ID:  19304
Empty cell:  online_order

Transaction ID:  19341
Empty cell:  brand

Transaction ID:  19341
Empty cell:  product_line

Transaction ID:  19341
Empty cell:  product_class

Transaction ID:  19341
Empty cell:  product_size

Transaction ID:  19341
Empty cell:  standard_cost

Transaction ID:  19341
Empty cell:  product_first_sold_date

Transaction ID:  19369
Empty cell:  online_order

Transaction ID:  19370
Empty cell:  online_order

Transaction ID:  19384
Empty cell:  brand

Transaction ID:  19384
Empty cell:  product_line

Transaction ID:  19384
Empty cell:  product_class

Transaction ID:  19384
Empty cell:  product_size

Transaction ID:  19384
Empty cell:  standard_cost

Transaction ID:  19384
Empty cell:  product_first_sold_date

Transaction ID:  19434
Empty cell:  online_order

Transaction ID:  19496
Empty cell:  online_order

Transaction ID:  19515
Empty cell:  online_order

Transaction ID:  19574
Empty cell:  online_order

Transaction ID:  19581
Empty cell:  online_order

Transaction ID:  19636
Empty cell:  online_order

Transaction ID:  19794
Empty cell:  brand

Transaction ID:  19794
Empty cell:  product_line

Transaction ID:  19794
Empty cell:  product_class

Transaction ID:  19794
Empty cell:  product_size

Transaction ID:  19794
Empty cell:  standard_cost

Transaction ID:  19794
Empty cell:  product_first_sold_date

Transaction ID:  19844
Empty cell:  online_order

Transaction ID:  19860
Empty cell:  brand

Transaction ID:  19860
Empty cell:  product_line

Transaction ID:  19860
Empty cell:  product_class

Transaction ID:  19860
Empty cell:  product_size

Transaction ID:  19860
Empty cell:  standard_cost

Transaction ID:  19860
Empty cell:  product_first_sold_date

Transaction ID:  19872
Empty cell:  brand

Transaction ID:  19872
Empty cell:  product_line

Transaction ID:  19872
Empty cell:  product_class

Transaction ID:  19872
Empty cell:  product_size

Transaction ID:  19872
Empty cell:  standard_cost

Transaction ID:  19872
Empty cell:  product_first_sold_date

Total invalid entries: 555

In [20]:
# Now we repeat this for Customer Demographic
# Note: We skip the column for default as the entries don't make any sense

wb.active = 3
cur_sheet = wb.active
total = 0
print('Current Sheet: ')
print(cur_sheet, end="\n\n")

for i in range(3,4003):
    # i = current row.
    at_row = False
    
    for j in range(1,14):
        # j = current column.
        
        if j == 11:
            # At column for default. Skip.
            continue
        
        if cur_sheet.cell(row=i, column=j).value is None:
            # Empty cell value so print out customer ID and empty cell.
            print('Customer ID: ', end=" ")
            print(cur_sheet.cell(row=i, column=1).value)
            print('Empty cell: ', end=" ")
            print(cur_sheet.cell(row=2, column=j).value, end="\n\n")
            
            if not at_row:
                total += 1
                at_row = True

print('Total invalid entries: ' + str(total))

Current Sheet:
<Worksheet "CustomerDemographic">

Customer ID:  4
Empty cell:  last_name

Customer ID:  4
Empty cell:  job_title

Customer ID:  6
Empty cell:  job_title

Customer ID:  7
Empty cell:  job_title

Customer ID:  11
Empty cell:  job_title

Customer ID:  22
Empty cell:  job_title

Customer ID:  23
Empty cell:  job_title

Customer ID:  30
Empty cell:  job_title

Customer ID:  46
Empty cell:  job_title

Customer ID:  52
Empty cell:  job_title

Customer ID:  60
Empty cell:  job_title

Customer ID:  62
Empty cell:  job_title

Customer ID:  67
Empty cell:  last_name

Customer ID:  74
Empty cell:  job_title

Customer ID:  81
Empty cell:  job_title

Customer ID:  106
Empty cell:  last_name

Customer ID:  108
Empty cell:  job_title

Customer ID:  110
Empty cell:  job_title

Customer ID:  139
Empty cell:  last_name

Customer ID:  144
Empty cell:  DOB

Customer ID:  144
Empty cell:  tenure

Customer ID:  161
Empty cell:  job_title

Customer ID:  167
Empty cell:  job_title

Customer ID:  168
Empty cell:  DOB

Customer ID:  168
Empty cell:  tenure

Customer ID:  178
Empty cell:  job_title

Customer ID:  185
Empty cell:  job_title

Customer ID:  197
Empty cell:  last_name

Customer ID:  197
Empty cell:  job_title

Customer ID:  207
Empty cell:  job_title

Customer ID:  211
Empty cell:  last_name

Customer ID:  217
Empty cell:  job_title

Customer ID:  229
Empty cell:  job_title

Customer ID:  244
Empty cell:  job_title

Customer ID:  250
Empty cell:  last_name

Customer ID:  251
Empty cell:  last_name

Customer ID:  257
Empty cell:  last_name

Customer ID:  262
Empty cell:  job_title

Customer ID:  267
Empty cell:  DOB

Customer ID:  267
Empty cell:  job_title

Customer ID:  267
Empty cell:  tenure

Customer ID:  275
Empty cell:  last_name

Customer ID:  276
Empty cell:  job_title

Customer ID:  288
Empty cell:  job_title

Customer ID:  290
Empty cell:  DOB

Customer ID:  290
Empty cell:  tenure

Customer ID:  296
Empty cell:  job_title

Customer ID:  302
Empty cell:  job_title

Customer ID:  319
Empty cell:  job_title

Customer ID:  336
Empty cell:  job_title

Customer ID:  338
Empty cell:  job_title

Customer ID:  340
Empty cell:  job_title

Customer ID:  344
Empty cell:  job_title

Customer ID:  356
Empty cell:  last_name

Customer ID:  368
Empty cell:  job_title

Customer ID:  370
Empty cell:  job_title

Customer ID:  379
Empty cell:  job_title

Customer ID:  384
Empty cell:  job_title

Customer ID:  388
Empty cell:  job_title

Customer ID:  391
Empty cell:  job_title

Customer ID:  398
Empty cell:  job_title

Customer ID:  405
Empty cell:  job_title

Customer ID:  412
Empty cell:  job_title

Customer ID:  418
Empty cell:  job_title

Customer ID:  422
Empty cell:  job_title

Customer ID:  434
Empty cell:  job_title

Customer ID:  442
Empty cell:  job_title

Customer ID:  443
Empty cell:  job_title

Customer ID:  451
Empty cell:  DOB

Customer ID:  451
Empty cell:  tenure

Customer ID:  453
Empty cell:  DOB

Customer ID:  453
Empty cell:  tenure

Customer ID:  454
Empty cell:  DOB

Customer ID:  454
Empty cell:  tenure

Customer ID:  460
Empty cell:  last_name

Customer ID:  462
Empty cell:  job_title

Customer ID:  464
Empty cell:  job_title

Customer ID:  466
Empty cell:  job_title

Customer ID:  475
Empty cell:  last_name

Customer ID:  479
Empty cell:  job_title

Customer ID:  480
Empty cell:  DOB

Customer ID:  480
Empty cell:  tenure

Customer ID:  482
Empty cell:  job_title

Customer ID:  494
Empty cell:  last_name

Customer ID:  497
Empty cell:  job_title

Customer ID:  505
Empty cell:  job_title

Customer ID:  507
Empty cell:  job_title

Customer ID:  510
Empty cell:  job_title

Customer ID:  513
Empty cell:  DOB

Customer ID:  513
Empty cell:  tenure

Customer ID:  514
Empty cell:  last_name

Customer ID:  519
Empty cell:  job_title

Customer ID:  522
Empty cell:  job_title

Customer ID:  526
Empty cell:  last_name

Customer ID:  526
Empty cell:  DOB

Customer ID:  526
Empty cell:  tenure

Customer ID:  535
Empty cell:  job_title

Customer ID:  539
Empty cell:  job_title

Customer ID:  541
Empty cell:  job_title

Customer ID:  548
Empty cell:  DOB

Customer ID:  548
Empty cell:  job_title

Customer ID:  548
Empty cell:  tenure

Customer ID:  550
Empty cell:  job_title

Customer ID:  557
Empty cell:  job_title

Customer ID:  567
Empty cell:  job_title

Customer ID:  577
Empty cell:  job_title

Customer ID:  582
Empty cell:  DOB

Customer ID:  582
Empty cell:  tenure

Customer ID:  599
Empty cell:  DOB

Customer ID:  599
Empty cell:  tenure

Customer ID:  614
Empty cell:  job_title

Customer ID:  616
Empty cell:  job_title

Customer ID:  622
Empty cell:  job_title

Customer ID:  627
Empty cell:  job_title

Customer ID:  638
Empty cell:  job_title

Customer ID:  657
Empty cell:  last_name

Customer ID:  659
Empty cell:  job_title

Customer ID:  660
Empty cell:  last_name

Customer ID:  671
Empty cell:  job_title

Customer ID:  676
Empty cell:  last_name

Customer ID:  680
Empty cell:  DOB

Customer ID:  680
Empty cell:  job_title

Customer ID:  680
Empty cell:  tenure

Customer ID:  683
Empty cell:  job_title

Customer ID:  684
Empty cell:  last_name

Customer ID:  685
Empty cell:  DOB

Customer ID:  685
Empty cell:  tenure

Customer ID:  690
Empty cell:  last_name

Customer ID:  691
Empty cell:  job_title

Customer ID:  693
Empty cell:  job_title

Customer ID:  700
Empty cell:  job_title

Customer ID:  703
Empty cell:  last_name

Customer ID:  703
Empty cell:  job_title

Customer ID:  711
Empty cell:  job_title

Customer ID:  712
Empty cell:  job_title

Customer ID:  714
Empty cell:  job_title

Customer ID:  731
Empty cell:  job_title

Customer ID:  733
Empty cell:  job_title

Customer ID:  738
Empty cell:  job_title

Customer ID:  740
Empty cell:  job_title

Customer ID:  741
Empty cell:  job_title

Customer ID:  744
Empty cell:  last_name

Customer ID:  745
Empty cell:  job_title

Customer ID:  758
Empty cell:  job_title

Customer ID:  765
Empty cell:  job_title

Customer ID:  766
Empty cell:  job_title

Customer ID:  771
Empty cell:  job_title

Customer ID:  773
Empty cell:  job_title

Customer ID:  780
Empty cell:  last_name

Customer ID:  786
Empty cell:  job_title

Customer ID:  787
Empty cell:  job_title

Customer ID:  790
Empty cell:  last_name

Customer ID:  799
Empty cell:  DOB

Customer ID:  799
Empty cell:  tenure

Customer ID:  812
Empty cell:  job_title

Customer ID:  815
Empty cell:  job_title

Customer ID:  820
Empty cell:  job_title

Customer ID:  827
Empty cell:  job_title

Customer ID:  828
Empty cell:  job_title

Customer ID:  839
Empty cell:  DOB

Customer ID:  839
Empty cell:  tenure

Customer ID:  857
Empty cell:  last_name

Customer ID:  860
Empty cell:  last_name

Customer ID:  860
Empty cell:  job_title

Customer ID:  864
Empty cell:  job_title

Customer ID:  871
Empty cell:  job_title

Customer ID:  874
Empty cell:  job_title

Customer ID:  879
Empty cell:  job_title

Customer ID:  882
Empty cell:  job_title

Customer ID:  883
Empty cell:  DOB

Customer ID:  883
Empty cell:  tenure

Customer ID:  887
Empty cell:  job_title

Customer ID:  892
Empty cell:  DOB

Customer ID:  892
Empty cell:  tenure

Customer ID:  895
Empty cell:  job_title

Customer ID:  901
Empty cell:  job_title

Customer ID:  903
Empty cell:  job_title

Customer ID:  908
Empty cell:  job_title

Customer ID:  913
Empty cell:  job_title

Customer ID:  916
Empty cell:  last_name

Customer ID:  927
Empty cell:  last_name

Customer ID:  938
Empty cell:  last_name

Customer ID:  944
Empty cell:  job_title

Customer ID:  950
Empty cell:  DOB

Customer ID:  950
Empty cell:  tenure

Customer ID:  953
Empty cell:  job_title

Customer ID:  975
Empty cell:  DOB

Customer ID:  975
Empty cell:  tenure

Customer ID:  981
Empty cell:  job_title

Customer ID:  983
Empty cell:  DOB

Customer ID:  983
Empty cell:  job_title

Customer ID:  983
Empty cell:  tenure

Customer ID:  992
Empty cell:  job_title

Customer ID:  996
Empty cell:  DOB

Customer ID:  996
Empty cell:  tenure

Customer ID:  1007
Empty cell:  job_title

Customer ID:  1020
Empty cell:  job_title

Customer ID:  1023
Empty cell:  job_title

Customer ID:  1026
Empty cell:  job_title

Customer ID:  1033
Empty cell:  job_title

Customer ID:  1034
Empty cell:  job_title

Customer ID:  1038
Empty cell:  DOB

Customer ID:  1038
Empty cell:  tenure

Customer ID:  1039
Empty cell:  job_title

Customer ID:  1041
Empty cell:  job_title

Customer ID:  1044
Empty cell:  DOB

Customer ID:  1044
Empty cell:  tenure

Customer ID:  1045
Empty cell:  job_title

Customer ID:  1053
Empty cell:  job_title

Customer ID:  1061
Empty cell:  last_name

Customer ID:  1068
Empty cell:  job_title

Customer ID:  1071
Empty cell:  job_title

Customer ID:  1077
Empty cell:  job_title

Customer ID:  1082
Empty cell:  DOB

Customer ID:  1082
Empty cell:  tenure

Customer ID:  1090
Empty cell:  last_name

Customer ID:  1091
Empty cell:  job_title

Customer ID:  1112
Empty cell:  job_title

Customer ID:  1119
Empty cell:  job_title

Customer ID:  1122
Empty cell:  job_title

Customer ID:  1123
Empty cell:  job_title

Customer ID:  1129
Empty cell:  last_name

Customer ID:  1133
Empty cell:  job_title

Customer ID:  1141
Empty cell:  job_title

Customer ID:  1145
Empty cell:  job_title

Customer ID:  1174
Empty cell:  DOB

Customer ID:  1174
Empty cell:  tenure

Customer ID:  1187
Empty cell:  job_title

Customer ID:  1201
Empty cell:  job_title

Customer ID:  1202
Empty cell:  last_name

Customer ID:  1210
Empty cell:  DOB

Customer ID:  1210
Empty cell:  tenure

Customer ID:  1218
Empty cell:  job_title

Customer ID:  1219
Empty cell:  job_title

Customer ID:  1223
Empty cell:  last_name

Customer ID:  1230
Empty cell:  job_title

Customer ID:  1233
Empty cell:  job_title

Customer ID:  1239
Empty cell:  job_title

Customer ID:  1244
Empty cell:  DOB

Customer ID:  1244
Empty cell:  tenure

Customer ID:  1246
Empty cell:  job_title

Customer ID:  1249
Empty cell:  job_title

Customer ID:  1253
Empty cell:  last_name

Customer ID:  1255
Empty cell:  job_title

Customer ID:  1264
Empty cell:  job_title

Customer ID:  1266
Empty cell:  last_name

Customer ID:  1268
Empty cell:  job_title

Customer ID:  1272
Empty cell:  job_title

Customer ID:  1289
Empty cell:  job_title

Customer ID:  1292
Empty cell:  job_title

Customer ID:  1294
Empty cell:  job_title

Customer ID:  1301
Empty cell:  last_name

Customer ID:  1303
Empty cell:  job_title

Customer ID:  1315
Empty cell:  job_title

Customer ID:  1319
Empty cell:  job_title

Customer ID:  1320
Empty cell:  last_name

Customer ID:  1320
Empty cell:  job_title

Customer ID:  1335
Empty cell:  job_title

Customer ID:  1342
Empty cell:  job_title

Customer ID:  1351
Empty cell:  last_name

Customer ID:  1351
Empty cell:  DOB

Customer ID:  1351
Empty cell:  tenure

Customer ID:  1368
Empty cell:  job_title

Customer ID:  1374
Empty cell:  job_title

Customer ID:  1376
Empty cell:  last_name

Customer ID:  1378
Empty cell:  job_title

Customer ID:  1389
Empty cell:  job_title

Customer ID:  1393
Empty cell:  job_title

Customer ID:  1394
Empty cell:  job_title

Customer ID:  1401
Empty cell:  job_title

Customer ID:  1417
Empty cell:  job_title

Customer ID:  1441
Empty cell:  job_title

Customer ID:  1442
Empty cell:  job_title

Customer ID:  1443
Empty cell:  job_title

Customer ID:  1453
Empty cell:  last_name

Customer ID:  1455
Empty cell:  last_name

Customer ID:  1461
Empty cell:  job_title

Customer ID:  1467
Empty cell:  job_title

Customer ID:  1469
Empty cell:  last_name

Customer ID:  1471
Empty cell:  job_title

Customer ID:  1477
Empty cell:  DOB

Customer ID:  1477
Empty cell:  tenure

Customer ID:  1500
Empty cell:  job_title

Customer ID:  1506
Empty cell:  job_title

Customer ID:  1507
Empty cell:  job_title

Customer ID:  1509
Empty cell:  DOB

Customer ID:  1509
Empty cell:  tenure

Customer ID:  1512
Empty cell:  last_name

Customer ID:  1520
Empty cell:  job_title

Customer ID:  1528
Empty cell:  job_title

Customer ID:  1548
Empty cell:  job_title

Customer ID:  1549
Empty cell:  job_title

Customer ID:  1559
Empty cell:  job_title

Customer ID:  1560
Empty cell:  job_title

Customer ID:  1578
Empty cell:  job_title

Customer ID:  1583
Empty cell:  DOB

Customer ID:  1583
Empty cell:  tenure

Customer ID:  1584
Empty cell:  last_name

Customer ID:  1599
Empty cell:  job_title

Customer ID:  1604
Empty cell:  job_title

Customer ID:  1605
Empty cell:  job_title

Customer ID:  1611
Empty cell:  last_name

Customer ID:  1613
Empty cell:  job_title

Customer ID:  1614
Empty cell:  job_title

Customer ID:  1615
Empty cell:  job_title

Customer ID:  1628
Empty cell:  DOB

Customer ID:  1628
Empty cell:  tenure

Customer ID:  1639
Empty cell:  job_title

Customer ID:  1643
Empty cell:  job_title

Customer ID:  1647
Empty cell:  job_title

Customer ID:  1651
Empty cell:  last_name

Customer ID:  1653
Empty cell:  job_title

Customer ID:  1678
Empty cell:  job_title

Customer ID:  1681
Empty cell:  job_title

Customer ID:  1683
Empty cell:  DOB

Customer ID:  1683
Empty cell:  tenure

Customer ID:  1687
Empty cell:  job_title

Customer ID:  1691
Empty cell:  last_name

Customer ID:  1694
Empty cell:  job_title

Customer ID:  1698
Empty cell:  job_title

Customer ID:  1701
Empty cell:  job_title

Customer ID:  1706
Empty cell:  job_title

Customer ID:  1711
Empty cell:  job_title

Customer ID:  1712
Empty cell:  last_name

Customer ID:  1727
Empty cell:  last_name

Customer ID:  1740
Empty cell:  DOB

Customer ID:  1740
Empty cell:  tenure

Customer ID:  1746
Empty cell:  last_name

Customer ID:  1749
Empty cell:  job_title

Customer ID:  1751
Empty cell:  job_title

Customer ID:  1754
Empty cell:  job_title

Customer ID:  1756
Empty cell:  last_name

Customer ID:  1757
Empty cell:  job_title

Customer ID:  1769
Empty cell:  job_title

Customer ID:  1773
Empty cell:  DOB

Customer ID:  1773
Empty cell:  job_title

Customer ID:  1773
Empty cell:  tenure

Customer ID:  1780
Empty cell:  DOB

Customer ID:  1780
Empty cell:  tenure

Customer ID:  1783
Empty cell:  job_title

Customer ID:  1792
Empty cell:  job_title

Customer ID:  1799
Empty cell:  job_title

Customer ID:  1803
Empty cell:  job_title

Customer ID:  1806
Empty cell:  DOB

Customer ID:  1806
Empty cell:  tenure

Customer ID:  1811
Empty cell:  job_title

Customer ID:  1816
Empty cell:  job_title

Customer ID:  1822
Empty cell:  job_title

Customer ID:  1849
Empty cell:  job_title

Customer ID:  1858
Empty cell:  last_name

Customer ID:  1862
Empty cell:  job_title

Customer ID:  1874
Empty cell:  job_title

Customer ID:  1880
Empty cell:  job_title

Customer ID:  1883
Empty cell:  job_title

Customer ID:  1884
Empty cell:  job_title

Customer ID:  1889
Empty cell:  last_name

Customer ID:  1892
Empty cell:  job_title

Customer ID:  1899
Empty cell:  job_title

Customer ID:  1905
Empty cell:  last_name

Customer ID:  1918
Empty cell:  DOB

Customer ID:  1918
Empty cell:  tenure

Customer ID:  1925
Empty cell:  job_title

Customer ID:  1935
Empty cell:  last_name

Customer ID:  1938
Empty cell:  DOB

Customer ID:  1938
Empty cell:  tenure

Customer ID:  1948
Empty cell:  job_title

Customer ID:  1966
Empty cell:  job_title

Customer ID:  1967
Empty cell:  last_name

Customer ID:  1971
Empty cell:  job_title

Customer ID:  1972
Empty cell:  job_title

Customer ID:  1977
Empty cell:  job_title

Customer ID:  1986
Empty cell:  job_title

Customer ID:  1990
Empty cell:  DOB

Customer ID:  1990
Empty cell:  tenure

Customer ID:  1994
Empty cell:  job_title

Customer ID:  2000
Empty cell:  DOB

Customer ID:  2000
Empty cell:  tenure

Customer ID:  2021
Empty cell:  DOB

Customer ID:  2021
Empty cell:  tenure

Customer ID:  2022
Empty cell:  job_title

Customer ID:  2036
Empty cell:  job_title

Customer ID:  2052
Empty cell:  job_title

Customer ID:  2053
Empty cell:  job_title

Customer ID:  2054
Empty cell:  job_title

Customer ID:  2061
Empty cell:  last_name

Customer ID:  2069
Empty cell:  DOB

Customer ID:  2069
Empty cell:  tenure

Customer ID:  2071
Empty cell:  job_title

Customer ID:  2073
Empty cell:  last_name

Customer ID:  2073
Empty cell:  job_title

Customer ID:  2074
Empty cell:  job_title

Customer ID:  2079
Empty cell:  last_name

Customer ID:  2083
Empty cell:  job_title

Customer ID:  2084
Empty cell:  job_title

Customer ID:  2101
Empty cell:  last_name

Customer ID:  2124
Empty cell:  job_title

Customer ID:  2137
Empty cell:  last_name

Customer ID:  2146
Empty cell:  job_title

Customer ID:  2150
Empty cell:  job_title

Customer ID:  2151
Empty cell:  job_title

Customer ID:  2153
Empty cell:  last_name

Customer ID:  2159
Empty cell:  job_title

Customer ID:  2161
Empty cell:  job_title

Customer ID:  2165
Empty cell:  DOB

Customer ID:  2165
Empty cell:  tenure

Customer ID:  2189
Empty cell:  last_name

Customer ID:  2190
Empty cell:  job_title

Customer ID:  2205
Empty cell:  DOB

Customer ID:  2205
Empty cell:  tenure

Customer ID:  2208
Empty cell:  job_title

Customer ID:  2211
Empty cell:  job_title

Customer ID:  2214
Empty cell:  job_title

Customer ID:  2230
Empty cell:  job_title

Customer ID:  2237
Empty cell:  job_title

Customer ID:  2249
Empty cell:  job_title

Customer ID:  2250
Empty cell:  job_title

Customer ID:  2251
Empty cell:  job_title

Customer ID:  2252
Empty cell:  DOB

Customer ID:  2252
Empty cell:  tenure

Customer ID:  2265
Empty cell:  job_title

Customer ID:  2266
Empty cell:  job_title

Customer ID:  2271
Empty cell:  job_title

Customer ID:  2281
Empty cell:  job_title

Customer ID:  2295
Empty cell:  DOB

Customer ID:  2295
Empty cell:  tenure

Customer ID:  2300
Empty cell:  job_title

Customer ID:  2304
Empty cell:  job_title

Customer ID:  2311
Empty cell:  last_name

Customer ID:  2335
Empty cell:  DOB

Customer ID:  2335
Empty cell:  tenure

Customer ID:  2341
Empty cell:  DOB

Customer ID:  2341
Empty cell:  tenure

Customer ID:  2342
Empty cell:  job_title

Customer ID:  2355
Empty cell:  last_name

Customer ID:  2398
Empty cell:  last_name

Customer ID:  2407
Empty cell:  last_name

Customer ID:  2407
Empty cell:  job_title

Customer ID:  2408
Empty cell:  last_name

Customer ID:  2409
Empty cell:  job_title

Customer ID:  2414
Empty cell:  DOB

Customer ID:  2414
Empty cell:  tenure

Customer ID:  2424
Empty cell:  job_title

Customer ID:  2426
Empty cell:  DOB

Customer ID:  2426
Empty cell:  job_title

Customer ID:  2426
Empty cell:  tenure

Customer ID:  2439
Empty cell:  job_title

Customer ID:  2441
Empty cell:  job_title

Customer ID:  2446
Empty cell:  job_title

Customer ID:  2455
Empty cell:  job_title

Customer ID:  2461
Empty cell:  last_name

Customer ID:  2469
Empty cell:  DOB

Customer ID:  2469

Empty cell:  tenure

Customer ID:  2470
Empty cell:  job_title

Customer ID:  2473
Empty cell:  last_name

Customer ID:  2483
Empty cell:  job_title

Customer ID:  2490
Empty cell:  job_title

Customer ID:  2504
Empty cell:  job_title

Customer ID:  2506
Empty cell:  job_title

Customer ID:  2515
Empty cell:  last_name

Customer ID:  2515
Empty cell:  job_title

Customer ID:  2522
Empty cell:  job_title

Customer ID:  2532
Empty cell:  job_title

Customer ID:  2538
Empty cell:  job_title

Customer ID:  2540
Empty cell:  last_name

Customer ID:  2540
Empty cell:  DOB

Customer ID:  2540
Empty cell:  tenure

Customer ID:  2552
Empty cell:  job_title

Customer ID:  2553
Empty cell:  job_title

Customer ID:  2556
Empty cell:  job_title

Customer ID:  2557
Empty cell:  job_title

Customer ID:  2558
Empty cell:  job_title

Customer ID:  2561
Empty cell:  job_title

Customer ID:  2574
Empty cell:  job_title

Customer ID:  2580
Empty cell:  last_name

Customer ID:  2581
Empty cell:  job_title

Customer ID:  2584
Empty cell:  last_name

Customer ID:  2589
Empty cell:  job_title

Customer ID:  2591
Empty cell:  job_title

Customer ID:  2613
Empty cell:  job_title

Customer ID:  2614
Empty cell:  job_title

Customer ID:  2615
Empty cell:  last_name

Customer ID:  2617
Empty cell:  job_title

Customer ID:  2630
Empty cell:  last_name

Customer ID:  2632
Empty cell:  job_title

Customer ID:  2633
Empty cell:  job_title

Customer ID:  2642
Empty cell:  DOB

Customer ID:  2642
Empty cell:  tenure

Customer ID:  2647
Empty cell:  DOB

Customer ID:  2647
Empty cell:  tenure

Customer ID:  2658
Empty cell:  job_title

Customer ID:  2660
Empty cell:  job_title

Customer ID:  2677
Empty cell:  job_title

Customer ID:  2685
Empty cell:  job_title

Customer ID:  2696
Empty cell:  DOB

Customer ID:  2696
Empty cell:  tenure

Customer ID:  2697
Empty cell:  DOB

Customer ID:  2697
Empty cell:  tenure

Customer ID:  2703
Empty cell:  job_title

Customer ID:  2709
Empty cell:  job_title

Customer ID:  2710
Empty cell:  job_title

Customer ID:  2716
Empty cell:  last_name

Customer ID:  2721
Empty cell:  job_title

Customer ID:  2722
Empty cell:  job_title

Customer ID:  2734
Empty cell:  job_title

Customer ID:  2737
Empty cell:  job_title

Customer ID:  2750
Empty cell:  job_title

Customer ID:  2756
Empty cell:  job_title

Customer ID:  2757
Empty cell:  job_title

Customer ID:  2758
Empty cell:  job_title

Customer ID:  2762
Empty cell:  job_title

Customer ID:  2764
Empty cell:  job_title

Customer ID:  2765
Empty cell:  job_title

Customer ID:  2774
Empty cell:  job_title

Customer ID:  2776
Empty cell:  job_title

Customer ID:  2779
Empty cell:  job_title

Customer ID:  2797
Empty cell:  job_title

Customer ID:  2801
Empty cell:  job_title

Customer ID:  2805
Empty cell:  job_title

Customer ID:  2810
Empty cell:  job_title

Customer ID:  2815
Empty cell:  job_title

Customer ID:  2827
Empty cell:  job_title

Customer ID:  2828
Empty cell:  job_title

Customer ID:  2833
Empty cell:  job_title

Customer ID:  2834
Empty cell:  job_title

Customer ID:  2835
Empty cell:  last_name

Customer ID:  2837
Empty cell:  job_title

Customer ID:  2842
Empty cell:  job_title

Customer ID:  2844
Empty cell:  job_title

Customer ID:  2849
Empty cell:  job_title

Customer ID:  2854
Empty cell:  DOB

Customer ID:  2854
Empty cell:  tenure

Customer ID:  2866
Empty cell:  job_title

Customer ID:  2869
Empty cell:  job_title

Customer ID:  2870
Empty cell:  job_title

Customer ID:  2894
Empty cell:  last_name

Customer ID:  2901
Empty cell:  job_title

Customer ID:  2907
Empty cell:  last_name

Customer ID:  2912
Empty cell:  last_name

Customer ID:  2912
Empty cell:  job_title

Customer ID:  2917
Empty cell:  job_title

Customer ID:  2918
Empty cell:  last_name

Customer ID:  2918
Empty cell:  job_title

Customer ID:  2919
Empty cell:  last_name

Customer ID:  2920
Empty cell:  DOB

Customer ID:  2920
Empty cell:  tenure

Customer ID:  2921
Empty cell:  job_title

Customer ID:  2935
Empty cell:  job_title

Customer ID:  2941
Empty cell:  job_title

Customer ID:  2943
Empty cell:  last_name

Customer ID:  2945
Empty cell:  last_name

Customer ID:  2946
Empty cell:  job_title

Customer ID:  2947
Empty cell:  job_title

Customer ID:  2949
Empty cell:  job_title

Customer ID:  2963
Empty cell:  DOB

Customer ID:  2963
Empty cell:  tenure

Customer ID:  2965
Empty cell:  job_title

Customer ID:  2972
Empty cell:  job_title

Customer ID:  2986
Empty cell:  job_title

Customer ID:  2989
Empty cell:  last_name

Customer ID:  2995
Empty cell:  job_title

Customer ID:  2999
Empty cell:  DOB

Customer ID:  2999
Empty cell:  tenure

Customer ID:  3006
Empty cell:  job_title

Customer ID:  3008
Empty cell:  job_title

Customer ID:  3009
Empty cell:  job_title

Customer ID:  3010
Empty cell:  job_title

Customer ID:  3012
Empty cell:  DOB

Customer ID:  3012
Empty cell:  tenure

Customer ID:  3021
Empty cell:  job_title

Customer ID:  3022
Empty cell:  job_title

Customer ID:  3024
Empty cell:  job_title

Customer ID:  3038
Empty cell:  last_name

Customer ID:  3039
Empty cell:  job_title

Customer ID:  3049
Empty cell:  job_title

Customer ID:  3050
Empty cell:  job_title

Customer ID:  3051
Empty cell:  job_title

Customer ID:  3052
Empty cell:  last_name

Customer ID:  3053
Empty cell:  last_name

Customer ID:  3075
Empty cell:  job_title

Customer ID:  3082
Empty cell:  job_title

Customer ID:  3083
Empty cell:  job_title

Customer ID:  3086
Empty cell:  DOB

Customer ID:  3086
Empty cell:  tenure

Customer ID:  3088
Empty cell:  job_title

Customer ID:  3095
Empty cell:  last_name

Customer ID:  3099
Empty cell:  job_title

Customer ID:  3106
Empty cell:  job_title

Customer ID:  3116
Empty cell:  job_title

Customer ID:  3119
Empty cell:  job_title

Customer ID:  3122
Empty cell:  job_title

Customer ID:  3131
Empty cell:  job_title

Customer ID:  3134
Empty cell:  job_title

Customer ID:  3137
Empty cell:  last_name

Customer ID:  3147
Empty cell:  job_title

Customer ID:  3151
Empty cell:  DOB

Customer ID:  3151
Empty cell:  tenure

Customer ID:  3156
Empty cell:  job_title

Customer ID:  3157
Empty cell:  job_title

Customer ID:  3159
Empty cell:  job_title

Customer ID:  3161
Empty cell:  job_title

Customer ID:  3171
Empty cell:  last_name

Customer ID:  3172
Empty cell:  job_title

Customer ID:  3173
Empty cell:  last_name

Customer ID:  3180
Empty cell:  last_name

Customer ID:  3182
Empty cell:  job_title

Customer ID:  3186
Empty cell:  job_title

Customer ID:  3188
Empty cell:  last_name

Customer ID:  3190
Empty cell:  job_title

Customer ID:  3200
Empty cell:  last_name

Customer ID:  3207
Empty cell:  job_title

Customer ID:  3213
Empty cell:  job_title

Customer ID:  3222
Empty cell:  DOB

Customer ID:  3222
Empty cell:  tenure

Customer ID:  3223
Empty cell:  DOB

Customer ID:  3223
Empty cell:  tenure

Customer ID:  3226
Empty cell:  job_title

Customer ID:  3227
Empty cell:  job_title

Customer ID:  3231
Empty cell:  job_title

Customer ID:  3236
Empty cell:  job_title

Customer ID:  3250
Empty cell:  job_title

Customer ID:  3255
Empty cell:  DOB

Customer ID:  3255
Empty cell:  tenure

Customer ID:  3259
Empty cell:  last_name

Customer ID:  3261
Empty cell:  job_title

Customer ID:  3264
Empty cell:  job_title

Customer ID:  3267
Empty cell:  job_title

Customer ID:  3274
Empty cell:  job_title

Customer ID:  3288
Empty cell:  DOB

Customer ID:  3288
Empty cell:  tenure

Customer ID:  3290
Empty cell:  job_title

Customer ID:  3298
Empty cell:  DOB

Customer ID:  3298
Empty cell:  tenure

Customer ID:  3304
Empty cell:  job_title

Customer ID:  3312
Empty cell:  DOB

Customer ID:  3312
Empty cell:  tenure

Customer ID:  3313
Empty cell:  job_title

Customer ID:  3314
Empty cell:  job_title

Customer ID:  3318
Empty cell:  job_title

Customer ID:  3319
Empty cell:  last_name

Customer ID:  3319
Empty cell:  job_title

Customer ID:  3321
Empty cell:  last_name

Customer ID:  3322
Empty cell:  DOB

Customer ID:  3322
Empty cell:  tenure

Customer ID:  3324
Empty cell:  last_name

Customer ID:  3325
Empty cell:  last_name

Customer ID:  3329
Empty cell:  job_title

Customer ID:  3330
Empty cell:  job_title

Customer ID:  3337
Empty cell:  job_title

Customer ID:  3338
Empty cell:  job_title

Customer ID:  3342
Empty cell:  job_title

Customer ID:  3343
Empty cell:  DOB

Customer ID:  3343
Empty cell:  tenure

Customer ID:  3345
Empty cell:  job_title

Customer ID:  3347
Empty cell:  last_name

Customer ID:  3354
Empty cell:  job_title

Customer ID:  3364
Empty cell:  last_name

Customer ID:  3365
Empty cell:  DOB

Customer ID:  3365
Empty cell:  tenure

Customer ID:  3372
Empty cell:  job_title

Customer ID:  3376
Empty cell:  job_title

Customer ID:  3377
Empty cell:  job_title

Customer ID:  3378
Empty cell:  job_title

Customer ID:  3384
Empty cell:  job_title

Customer ID:  3385
Empty cell:  last_name

Customer ID:  3390
Empty cell:  job_title

Customer ID:  3391
Empty cell:  job_title

Customer ID:  3395
Empty cell:  job_title

Customer ID:  3397
Empty cell:  last_name

Customer ID:  3398
Empty cell:  job_title

Customer ID:  3401
Empty cell:  last_name

Customer ID:  3410
Empty cell:  job_title

Customer ID:  3416
Empty cell:  job_title

Customer ID:  3429
Empty cell:  job_title

Customer ID:  3436
Empty cell:  job_title

Customer ID:  3443
Empty cell:  last_name

Customer ID:  3445
Empty cell:  last_name

Customer ID:  3447
Empty cell:  last_name

Customer ID:  3447
Empty cell:  job_title

Customer ID:  3456
Empty cell:  job_title

Customer ID:  3457
Empty cell:  job_title

Customer ID:  3459
Empty cell:  job_title

Customer ID:  3473
Empty cell:  DOB

Customer ID:  3473
Empty cell:  tenure

Customer ID:  3476
Empty cell:  job_title

Customer ID:  3479
Empty cell:  job_title

Customer ID:  3480
Empty cell:  last_name

Customer ID:  3480
Empty cell:  job_title

Customer ID:  3498
Empty cell:  job_title

Customer ID:  3499
Empty cell:  job_title

Customer ID:  3500
Empty cell:  job_title

Customer ID:  3505
Empty cell:  job_title

Customer ID:  3510
Empty cell:  DOB

Customer ID:  3510
Empty cell:  tenure

Customer ID:  3513
Empty cell:  DOB

Customer ID:  3513
Empty cell:  tenure

Customer ID:  3516
Empty cell:  job_title

Customer ID:  3523
Empty cell:  job_title

Customer ID:  3533
Empty cell:  job_title

Customer ID:  3539
Empty cell:  job_title

Customer ID:  3540
Empty cell:  job_title

Customer ID:  3541
Empty cell:  job_title

Customer ID:  3548
Empty cell:  job_title

Customer ID:  3555
Empty cell:  last_name

Customer ID:  3557
Empty cell:  job_title

Customer ID:  3558
Empty cell:  job_title

Customer ID:  3563
Empty cell:  job_title

Customer ID:  3565
Empty cell:  DOB

Customer ID:  3565
Empty cell:  tenure

Customer ID:  3570
Empty cell:  job_title

Customer ID:  3581
Empty cell:  job_title

Customer ID:  3584
Empty cell:  job_title

Customer ID:  3585
Empty cell:  job_title

Customer ID:  3587
Empty cell:  job_title

Customer ID:  3590
Empty cell:  job_title

Customer ID:  3597
Empty cell:  last_name

Customer ID:  3612
Empty cell:  job_title

Customer ID:  3624
Empty cell:  last_name

Customer ID:  3635
Empty cell:  last_name

Customer ID:  3637
Empty cell:  job_title

Customer ID:  3642
Empty cell:  job_title

Customer ID:  3651
Empty cell:  last_name

Customer ID:  3654
Empty cell:  DOB

Customer ID:  3654
Empty cell:  tenure

Customer ID:  3655
Empty cell:  job_title

Customer ID:  3656
Empty cell:  job_title

Customer ID:  3657
Empty cell:  job_title

Customer ID:  3658
Empty cell:  job_title

Customer ID:  3670
Empty cell:  job_title

Customer ID:  3672
Empty cell:  job_title

Customer ID:  3673
Empty cell:  job_title

Customer ID:  3686
Empty cell:  job_title

Customer ID:  3689
Empty cell:  job_title

Customer ID:  3693
Empty cell:  job_title

Customer ID:  3694
Empty cell:  job_title

Customer ID:  3705
Empty cell:  job_title

Customer ID:  3713
Empty cell:  job_title

Customer ID:  3716
Empty cell:  job_title

Customer ID:  3718
Empty cell:  last_name

Customer ID:  3718
Empty cell:  DOB

Customer ID:  3718
Empty cell:  tenure

Customer ID:  3720
Empty cell:  job_title

Customer ID:  3722
Empty cell:  job_title

Customer ID:  3724
Empty cell:  job_title

Customer ID:  3727
Empty cell:  DOB

Customer ID:  3727
Empty cell:  tenure

Customer ID:  3733
Empty cell:  job_title

Customer ID:  3744
Empty cell:  job_title

Customer ID:  3749
Empty cell:  job_title

Customer ID:  3754
Empty cell:  job_title

Customer ID:  3756
Empty cell:  last_name

Customer ID:  3756
Empty cell:  job_title

Customer ID:  3760
Empty cell:  job_title

Customer ID:  3762
Empty cell:  job_title

Customer ID:  3775
Empty cell:  job_title

Customer ID:  3779
Empty cell:  DOB

Customer ID:  3779
Empty cell:  job_title

Customer ID:  3779
Empty cell:  tenure

Customer ID:  3784
Empty cell:  job_title

Customer ID:  3794
Empty cell:  job_title

Customer ID:  3798
Empty cell:  job_title

Customer ID:  3804
Empty cell:  job_title

Customer ID:  3806
Empty cell:  job_title

Customer ID:  3811
Empty cell:  job_title

Customer ID:  3817
Empty cell:  last_name

Customer ID:  3822
Empty cell:  job_title

Customer ID:  3824
Empty cell:  job_title

Customer ID:  3826
Empty cell:  job_title

Customer ID:  3827
Empty cell:  job_title

Customer ID:  3840
Empty cell:  job_title

Customer ID:  3844
Empty cell:  job_title

Customer ID:  3865
Empty cell:  job_title

Customer ID:  3881
Empty cell:  job_title

Customer ID:  3883
Empty cell:  DOB

Customer ID:  3883
Empty cell:  tenure

Customer ID:  3885
Empty cell:  last_name

Customer ID:  3893
Empty cell:  job_title

Customer ID:  3909
Empty cell:  job_title

Customer ID:  3916
Empty cell:  last_name

Customer ID:  3916
Empty cell:  job_title

Customer ID:  3927
Empty cell:  last_name

Customer ID:  3928
Empty cell:  job_title

Customer ID:  3929
Empty cell:  job_title

Customer ID:  3930
Empty cell:  job_title

Customer ID:  3931
Empty cell:  DOB

Customer ID:  3931
Empty cell:  job_title

Customer ID:  3931
Empty cell:  tenure

Customer ID:  3933
Empty cell:  job_title

Customer ID:  3935
Empty cell:  DOB

Customer ID:  3935
Empty cell:  job_title

Customer ID:  3935
Empty cell:  tenure

Customer ID:  3939
Empty cell:  job_title

Customer ID:  3945
Empty cell:  job_title

Customer ID:  3946
Empty cell:  job_title

Customer ID:  3952
Empty cell:  job_title

Customer ID:  3959
Empty cell:  job_title

Customer ID:  3960
Empty cell:  job_title

Customer ID:  3962
Empty cell:  last_name

Customer ID:  3968
Empty cell:  job_title

Customer ID:  3972
Empty cell:  job_title

Customer ID:  3979
Empty cell:  job_title

Customer ID:  3987
Empty cell:  job_title

Customer ID:  3998
Empty cell:  DOB

Customer ID:  3998
Empty cell:  tenure

Customer ID:  3999
Empty cell:  last_name

Customer ID:  3999
Empty cell:  job_title

Total invalid entries: 689

In [21]:
# Finally we repeat for Customer Address

wb.active = 4
cur_sheet = wb.active
total = 0
print('Current Sheet: ')
print(cur_sheet, end="\n\n")

for i in range(3,4002):
    # i = current row.
    at_row = False
    
    for j in range(1,7):
        # j = current column.
        
        if cur_sheet.cell(row=i, column=j).value is None:
            # Empty cell value so print out customer ID and empty cell.
            print('Customer ID: ', end=" ")
            print(cur_sheet.cell(row=i, column=1).value)
            print('Empty cell: ', end=" ")
            print(cur_sheet.cell(row=2, column=j).value, end="\n\n")
            
            if not at_row:
                total += 1
                at_row = True

print('Total invalid entries: ' + str(total))

Current Sheet:
<Worksheet "CustomerAddress">

Total invalid entries: 0